Repository open-edge-platform/geti, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, Platform, documentation

customize DropIndicator
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list-item/annotation-list-item-content.component.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.component.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.module.scss
  web_ui/src/pages/annotator/annotation/list-item-grid.component.tsx
  web_ui/src/pages/annotator/annotation/list-item-grid.test.tsx
  web_ui/src/pages/annotator/annotation/pose-list/node-content.component.tsx
Labels: UI

delete react-beautiful-dnd package
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/pages/annotator/annotation/annotation-list/test-utils.tsx
Labels: UI

fix aria-role warning on PressableElement
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list-container/annotation-list-container.test.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.component.tsx
  web_ui/src/pages/annotator/components/labels/label-tag/label-tag.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/label-picker.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/secondary-toolbar.test.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-tree-view-item.test.tsx
  web_ui/src/shared/components/pressable-element/pressable-element.component.tsx
Labels: UI

- remove react-beautiful-dnd - implements spectrum Virtualizer
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list-container/annotation-list-container.test.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.component.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.module.scss
  web_ui/src/pages/annotator/annotation/pose-list/node-list.component.tsx
Labels: UI

fix component test
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/label-picker.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/secondary-toolbar.test.tsx
  web_ui/src/setupTests.tsx
  web_ui/tests/features/annotator/classification/classification.spec.ts
  web_ui/tests/features/annotator/filter-annotations/filter-annotations.spec.ts
  web_ui/tests/features/annotator/tools/object-coloring-tool.spec.ts
  web_ui/tests/features/annotator/utils.ts
  web_ui/tests/features/components/label-search.spec.ts
  web_ui/tests/fixtures/page-objects/intel-admin-page.ts
Labels: UI

Add readme and contributor file to UI (#142)
  .github/workflows/web-ui.yml
  web_ui/.env.development
  web_ui/.env.example
  web_ui/CONTRIBUTING.md
  web_ui/Dockerfile
  web_ui/README.md
  web_ui/dev-proxy.ts
  web_ui/package.json
  web_ui/src/pages/annotator/tools/ritm-tool/loading-animation.component.tsx
  web_ui/tests/features/fux/utils.ts
Labels: UI

[CHORE] Update all 'safe-to-do-so' packages (#136)
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/app.test.tsx
  web_ui/src/setupTests.tsx
Labels: UI

perf: Lazy load rest api specs (#155)
  web_ui/src/routes/app-routes.component.tsx
Labels: UI

Updated lock files
  platform/services/credit/uv.lock
  platform/services/notifier/uv.lock
  platform/services/observability/uv.lock
Labels: Platform

Fix style issues
  interactive_ai/services/dataset_ie/app/communication/endpoints/import_endpoints.py
  interactive_ai/services/director/app/active_learning/entities/active_manager/base_active_manager.py
  interactive_ai/services/director/app/communication/main.py
  interactive_ai/services/resource/app/communication/main.py
  interactive_ai/services/resource/app/communication/rest_data_validator/project_rest_validator.py
  interactive_ai/services/resource/app/usecases/statistics.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/datumaro_conversion/sc_extractor.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/evaluation/services/prediction_to_annotation_converter.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/mlflow/adapters/geti_otx_interface.py
Labels: none

Add uv locks for internal libs and fix pre-commit (#143)
  grpc_interfaces/.gitignore
  grpc_interfaces/uv.lock
  interactive_ai/data_migration/.gitignore
  interactive_ai/data_migration/uv.lock
  interactive_ai/libs/.gitignore
  interactive_ai/libs/media_utils/uv.lock
  interactive_ai/libs/sc_sdk/uv.lock
  libs/.gitignore
  libs/Makefile.shared-python-libs
  libs/fastapi_tools/uv.lock
  libs/feature_tools/uv.lock
  libs/k8s_tools/uv.lock
  libs/kafka_tools/uv.lock
  libs/spicedb_tools/uv.lock
  libs/telemetry_tools/uv.lock
  libs/types/uv.lock
  platform/services/credit/uv.lock
  platform/services/notifier/uv.lock
Labels: Platform

Comments adjustments: * condition to not use header in date range picker * remove useEffect and make changes accordingly * remove unnecessary comment * add comment about exclusivness of filtering
  web_ui/src/shared/components/date-range-picker-small/date-range-picker-small.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-dialog.component.tsx
Labels: UI

.github/labeler.yml:

UI:
  - changed-files:
    - any-glob-to-any-file:
      - 'web_ui/**/*'

IAI:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - 'docs/rest_api/**/*'
        - 'interactive_ai/**/*'

Platform:
  - changed-files:
    - any-glob-to-any-file:
      - 'platform/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - 'interactive_ai/services/api/**/*'
