Repository open-edge-platform/geti, pull requests merged in 2025-06, with the labels that each got.

#330 ITEP-68045 - Reset project template
  web_ui/src/core/projects/services/utils.ts
  web_ui/src/pages/create-project/components/pose-template/template-manager.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/utils.ts
  web_ui/src/pages/project-details/components/project-template/project-template.component.tsx
  web_ui/src/pages/project-details/components/project-template/project-template.test.tsx
Labels: UI, ready for review

#366 ITEP-67071 Disable analytics features and show informative message
  web_ui/src/pages/analytics/analytics.component.tsx
  web_ui/src/pages/analytics/analytics.module.scss
  web_ui/src/pages/analytics/analytics.test.tsx
Labels: UI, ready for review

#370 ITEP-68588: Add a migration script for dataset_storage_filter_data collection
  interactive_ai/data_migration/migration/changelog/30.json
  interactive_ai/data_migration/migration/metadata/add_dataset_storage_filter_data_preprocessing.json
  interactive_ai/data_migration/migration/scripts/add_dataset_storage_filter_data_preprocessing.py
  interactive_ai/data_migration/tests/scripts/test_add_dataset_storage_filter_data_preprocessing.py
  interactive_ai/libs/iai_core_py/iai_core/versioning/data_version.txt
Labels: IAI

#374 ITEP-68666: Model training fails at dataset preparation stage with KeyError
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/datumaro_conversion/mappers/label_mapper.py
Labels: IAI

#337 ITEP-31991 - Add PATCH training_configuration endpoint
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/communication/endpoints/training_configuration_endpoints.py
  interactive_ai/services/director/app/communication/views/configurable_parameters_to_rest.py
  interactive_ai/services/director/app/service/project_service.py
  interactive_ai/services/director/app/storage/mappers/partial_training_configuration_mapper.py
  interactive_ai/services/director/app/storage/repos/partial_training_configuration_repo.py
  interactive_ai/services/director/app/storage/repos/project_configuration_repo.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_training_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/storage/repos/test_partial_training_configuration_repo.py
  interactive_ai/services/director/tests/unit/storage/repos/test_project_configuration_repo.py
  libs/configuration_tools/src/geti_configuration_tools/training_configuration.py
  libs/configuration_tools/src/geti_configuration_tools/utils.py
Labels: IAI

#377 Use exact locators for selecting model optimization
  web_ui/tests/fixtures/page-objects/models-page.ts
Labels: UI, ready for review

#379 Dont use outdated cookies version
  web_ui/package-lock.json
  web_ui/package.json
Labels: UI, ready for review

#312 ITEP-36764 Fix import dataset statuses order
  web_ui/src/pages/landing-page/landing-page-workspace/dataset-import-panels.component.tsx
  web_ui/src/providers/dataset-import-to-existing-project-provider/dataset-import-to-existing-project-provider.component.tsx
  web_ui/src/providers/dataset-import-to-new-project-provider/dataset-import-to-new-project-provider.component.tsx
Labels: UI, ready for review

#381 fix: Use training dialog wrapper with credits for anomaly
  web_ui/src/pages/project-details/components/project-media/training-notification/anomaly-projects-notification.component.tsx
Labels: UI, ready for review

#380 ITEP-68655 - Add "creation_time" job filter
  docs/rest_api/endpoints/jobs/jobs_endpoint.yaml
  docs/rest_api/parameters/query/creation_time_from.yaml
  docs/rest_api/parameters/query/creation_time_to.yaml
  interactive_ai/services/jobs/app/microservice/job_manager.py
  interactive_ai/services/jobs/app/microservice/rest/job_controller.py
  interactive_ai/services/jobs/app/microservice/rest/job_endpoints.py
  interactive_ai/services/jobs/app/microservice/rest/job_rest_views.py
  interactive_ai/services/jobs/tests/unit/microservice/rest/test_job_controller.py
  interactive_ai/services/jobs/tests/unit/microservice/rest/test_job_endpoints.py
  interactive_ai/services/jobs/tests/unit/microservice/rest/test_job_rest_views.py
  interactive_ai/services/jobs/tests/unit/model/mapper/test_job_mapper.py
  interactive_ai/services/jobs/tests/utils.py
Labels: documentation, IAI, API non-breaking

#390 Replace jobs filter
  web_ui/packages/core/src/services/urls.ts
  web_ui/src/core/jobs/services/jobs-service.interface.ts
  web_ui/src/shared/components/header/jobs-management/jobs-dialog.component.tsx
Labels: UI

#387 add @xfail marker to known BDD test failures
  interactive_ai/tests/e2e/features/dataset_import_export.feature
Labels: IAI

#384 Test set grpcio to 1.62
  interactive_ai/services/jobs/app/policies/main.py
  interactive_ai/workflows/geti_domain/common/uv.lock
  interactive_ai/workflows/geti_domain/model_test/uv.lock
  interactive_ai/workflows/geti_domain/optimize/uv.lock
  interactive_ai/workflows/geti_domain/train/uv.lock
Labels: IAI

#394 ITEP-36981: Omit job updates for already cancelled jobs
  interactive_ai/services/jobs/app/scheduler/kafka_handler.py
  interactive_ai/services/jobs/tests/unit/scheduler/test_kafka_handler.py
Labels: IAI

#376 ITEP-68215 - Update configuration for model entity
  interactive_ai/libs/iai_core_py/iai_core/entities/model.py
  interactive_ai/libs/iai_core_py/iai_core/repos/mappers/mongodb_mappers/model_mapper.py
  interactive_ai/libs/iai_core_py/tests/entities/test_model.py
  interactive_ai/libs/iai_core_py/tests/repos/test_model_repo.py
  interactive_ai/services/director/app/communication/controllers/project_configuration_controller.py
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/communication/endpoints/project_configuration_endpoints.py
  interactive_ai/services/director/app/communication/endpoints/training_configuration_endpoints.py
  interactive_ai/services/director/app/communication/exceptions.py
  interactive_ai/services/director/app/communication/views/configurable_parameters_to_rest.py
  interactive_ai/services/director/app/communication/views/project_configuration_rest_views.py
  interactive_ai/services/director/app/communication/views/training_configuration_rest_views.py
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/app/service/job_submission/job_creation_helpers.py
  interactive_ai/services/director/app/service/job_submission/train.py
  interactive_ai/services/director/app/service/utils.py
  interactive_ai/services/director/app/storage/mappers/project_configuration_mapper.py
  interactive_ai/services/director/chart/templates/http_route.yaml
  interactive_ai/services/director/chart/values.yaml
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_project_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_training_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/communication/rest_views/test_configurable_parameters_to_rest.py
  interactive_ai/services/director/tests/unit/communication/rest_views/test_configuration_rest_views.py
  interactive_ai/services/director/tests/unit/communication/rest_views/test_project_configuration_rest_views.py
  interactive_ai/services/director/tests/unit/communication/rest_views/test_training_configuration_rest_views.py
  interactive_ai/services/director/tests/unit/service/test_configuration_service.py
  interactive_ai/services/director/tests/unit/service/test_utils.py
  interactive_ai/workflows/geti_domain/optimize/job/tasks/helpers.py
  interactive_ai/workflows/geti_domain/train/job/tasks/prepare_and_train/get_train_data.py
  interactive_ai/workflows/geti_domain/train/job/tasks/prepare_and_train/prepare_data_and_train.py
  interactive_ai/workflows/geti_domain/train/job/tasks/prepare_and_train/train_helpers.py
  interactive_ai/workflows/geti_domain/train/job/utils/train_workflow_data.py
  interactive_ai/workflows/geti_domain/train/job/workflows/train_workflow.py
  interactive_ai/workflows/geti_domain/train/tests/unit/tasks/prepare_and_train/test_prepare_data_and_train.py
  interactive_ai/workflows/geti_domain/train/tests/unit/workflows/test_train_workflow.py
Labels: IAI

#389 Fix charts templating: remove circular dependency between Makefiles a…
  Makefile.shared
  interactive_ai/migration_job/Makefile
  interactive_ai/migration_job/chart/Chart.yaml.template
  interactive_ai/services/auto_train/Makefile
  interactive_ai/services/auto_train/chart/Chart.yaml.template
  interactive_ai/services/dataset_ie/Makefile
  interactive_ai/services/dataset_ie/chart/Chart.yaml.template
  interactive_ai/services/director/Makefile
  interactive_ai/services/director/chart/Chart.yaml.template
  interactive_ai/services/inference_gateway/Makefile
  interactive_ai/services/inference_gateway/chart/Chart.yaml.template
  interactive_ai/services/jobs/Makefile
  interactive_ai/services/jobs/chart/Chart.yaml.template
  interactive_ai/services/media/Makefile
  interactive_ai/services/media/chart/Chart.yaml.template
  interactive_ai/services/mlflow_geti_store/Makefile
  interactive_ai/services/mlflow_geti_store/chart/Chart.yaml.template
  interactive_ai/services/model_registration/Makefile
  interactive_ai/services/model_registration/chart/Chart.yaml.template
  interactive_ai/services/project_ie/Makefile
  interactive_ai/services/project_ie/chart/Chart.yaml.template
  interactive_ai/services/resource/Makefile
  interactive_ai/services/resource/chart/Chart.yaml.template
  interactive_ai/services/visual_prompt/Makefile
  interactive_ai/services/visual_prompt/chart/Chart.yaml.template
  platform/services/account/Makefile
  platform/services/account/chart/Chart.yaml.template
  platform/services/auth_proxy/Makefile
  platform/services/auth_proxy/chart/Chart.yaml.template
  platform/services/credit/Makefile
  platform/services/credit/chart/Chart.yaml.template
  platform/services/initial_user/Makefile
  platform/services/initial_user/chart/Chart.yaml.template
  platform/services/notifier/Makefile
  platform/services/notifier/chart/Chart.yaml.template
  platform/services/observability/Makefile
  platform/services/observability/chart/Chart.yaml.template
  platform/services/onboarding/Makefile
  platform/services/onboarding/chart/Chart.yaml.template
  platform/services/platform_cleaner/Makefile
  platform/services/platform_cleaner/chart/Chart.yaml.template
  platform/services/user_directory/Makefile
  platform/services/user_directory/chart/Chart.yaml.template
  platform/services/weights_uploader/Makefile
  platform/services/weights_uploader/chart/Chart.yaml.template
  web_ui/Makefile
  web_ui/chart/Chart.yaml.template
Labels: UI, IAI, Platform

#403 Fix broken GHA workflows
  .github/libs-path-filters.yml
  interactive_ai/services/auto_train/uv.lock
  interactive_ai/supported_models/tests/dummy_model_manifest.yaml
  interactive_ai/supported_models/tests/test_model_manifest.py
  libs/configuration_tools/src/geti_configuration_tools/utils.py
Labels: IAI

#401 ITEP-68215 - Fix training configuration query with model_id
  interactive_ai/libs/iai_core_py/iai_core/entities/model_storage.py
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  interactive_ai/services/director/tests/unit/service/test_configuration_service.py
Labels: IAI

#399 feat: Move reshuffle option to be next to train from scratch
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/fine-tune-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/training.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#411 ITEP-31939 api v1 platform install endpoint
  platform/services/geti_controller/app/platform_operations/cluster/cluster.py
  platform/services/geti_controller/app/rest/endpoints/install.py
  platform/services/geti_controller/chart/templates/cluster-role-binding.yaml
  platform/services/geti_controller/chart/templates/cluster-role.yaml
  platform/services/geti_controller/chart/templates/deployment.yaml
  platform/services/geti_controller/pyproject.toml
  platform/services/geti_controller/tests/unit/__init__.py
  platform/services/geti_controller/tests/unit/test_install.py
  platform/services/geti_controller/uv.lock
  platform/services/installer/app/commands/install.py
  platform/services/installer/app/texts/validators.py
Labels: Platform

#396 ITEP-68044 Live inference using camera
  web_ui/packages/ui/index.ts
  web_ui/packages/ui/src/toggle-buttons/toggle-buttons.component.tsx
  web_ui/packages/ui/src/toggle-buttons/toggle-buttons.module.scss
  web_ui/src/pages/camera-page/camera-page.component.tsx
  web_ui/src/pages/camera-page/components/action-buttons/capture-button-animation.component.tsx
  web_ui/src/pages/camera-page/components/action-buttons/capture-photo-button.component.tsx
  web_ui/src/pages/camera-page/components/camera/camera-view.component.tsx
  web_ui/src/pages/camera-page/components/camera/camera.component.tsx
  web_ui/src/pages/camera-page/components/camera/permissions-error.component.tsx
  web_ui/src/pages/camera-page/components/sidebar/sidebar.component.tsx
  web_ui/src/pages/camera-page/components/sidebar/sidebar.module.scss
  web_ui/src/pages/camera-page/components/sidebar/toggle-sidebar-button.component.tsx
  web_ui/src/pages/camera-page/util.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling-modes.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/evaluation/evaluation.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/toggle-buttons/toggle-buttons.module.scss
  web_ui/src/pages/project-details/components/project-tests/project-tests.module.scss
  web_ui/src/pages/project-details/components/project-tests/quick-inference/contents.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/header-options.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/live-camera-inference/live-camera-inference.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/live-camera-inference/live-camera-interface.module.scss
  web_ui/src/pages/project-details/components/project-tests/quick-inference/quick-inference-provider.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/quick-inference.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/quick-inference.test.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/secondary-toolbar.component.test.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/secondary-toolbar.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/upload-image-button.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/upload-image-button.test.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/use-is-explanation-enabled.hook.ts
  web_ui/src/shared/components/media-drop/media-drop-box.component.tsx
  web_ui/src/shared/components/upload-media/upload-media-button/upload-media-button.component.tsx
  web_ui/src/webworkers/camera.worker.ts
  web_ui/src/webworkers/utils.ts
  web_ui/tests/features/project-tests/quick-inference.spec.ts
  web_ui/tests/fixtures/page-objects/quick-inference-page.ts
Labels: UI, ready for review

#398 ITEP-66305 - Add smart-tools package
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/config/lint/eslint.config.js
  web_ui/packages/smart-tools/eslint.config.js
  web_ui/packages/smart-tools/index.ts
  web_ui/packages/smart-tools/opencv-types/Mat.d.ts
  web_ui/packages/smart-tools/opencv-types/constants.d.ts
  web_ui/packages/smart-tools/opencv-types/emscripten.d.ts
  web_ui/packages/smart-tools/opencv-types/enums.d.ts
  web_ui/packages/smart-tools/opencv-types/functions.d.ts
  web_ui/packages/smart-tools/opencv-types/helpers.d.ts
  web_ui/packages/smart-tools/opencv-types/index.d.ts
  web_ui/packages/smart-tools/opencv-types/scalars.d.ts
  web_ui/packages/smart-tools/opencv-types/valueObjects.d.ts
  web_ui/packages/smart-tools/opencv-types/vectors.d.ts
  web_ui/packages/smart-tools/opencv/4.9.0/opencv.js
  web_ui/packages/smart-tools/opencv_readme.md
  web_ui/packages/smart-tools/package.json
  web_ui/packages/smart-tools/tsconfig.json
  web_ui/packages/smart-tools/utils/opencv-loader.ts
  web_ui/src/pages/annotator/tools/segment-anything-tool/model/pre-processing.ts
  web_ui/src/react-app-env.d.ts
  web_ui/src/webworkers/grabcut.worker.ts
  web_ui/src/webworkers/inference-image.worker.ts
  web_ui/src/webworkers/intelligent-scissors.worker.ts
  web_ui/src/webworkers/ritm.worker.ts
  web_ui/src/webworkers/segment-anything.worker.ts
  web_ui/src/webworkers/ssim.worker.ts
  web_ui/src/webworkers/utils.ts
  web_ui/src/webworkers/watershed.worker.ts
  web_ui/tests/tsconfig.json
  web_ui/tsconfig.json
Labels: UI, ready for review

#425 ITEP-36123: Server returns 500 error when invoking the same job twice
  interactive_ai/services/director/app/communication/controllers/training_controller.py
  interactive_ai/services/director/app/communication/exceptions.py
  libs/grpc_interfaces/src/grpc_interfaces/job_submission/client.py
Labels: IAI

#385 ITEP-28898 project name edit field for project import
  web_ui/src/core/projects/services/api-project-service.ts
  web_ui/src/pages/create-project/create-project-button/create-project-menu.component.tsx
  web_ui/src/pages/create-project/create-project-button/create-project-menu.test.tsx
Labels: UI, ready for review

#423 ITEP-67071 chore: Use FEATURE_FLAG_TELEMETRY_STACK to enable or disable telemetry
  web_ui/src/analytics/analytics-provider.component.tsx
  web_ui/src/core/feature-flags/services/feature-flag-service.interface.ts
Labels: UI, ready for review

#450 Remove trailing comma from deployment config's json
  web_ui/chart/templates/ui-deployment-config.yaml
Labels: UI, ready for review

#446 fix: Fix flickering training model dialog
  web_ui/src/core/configurable-parameters/hooks/use-config-parameters.hook.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/accordion/accordion.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-basic.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#451 chore: Remove nx trash and git ignore it
  web_ui/.gitignore
  web_ui/.nx/workspace-data/file-map.json
  web_ui/.nx/workspace-data/lockfile.hash
  web_ui/.nx/workspace-data/nx_files.nxt
  web_ui/.nx/workspace-data/parsed-lock-file.json
  web_ui/.nx/workspace-data/project-graph.json
  web_ui/.nx/workspace-data/project-graph.lock
  web_ui/.nx/workspace-data/source-maps.json
Labels: UI, ready for review

#441 ITEP-69803: Fix BDD test project removal while training
  interactive_ai/tests/e2e/features/steps/job_monitoring.py
Labels: IAI

#428 ITEP-32723 versions endpoint
  platform/services/geti_controller/app/__init__.py
  platform/services/geti_controller/app/main.py
  platform/services/geti_controller/app/platform_operations/backup.py
  platform/services/geti_controller/app/platform_operations/cluster.py
  platform/services/geti_controller/app/platform_operations/geti_manifest.py
  platform/services/geti_controller/app/platform_operations/system_versions.py
  platform/services/geti_controller/app/rest/endpoints/check_backup.py
  platform/services/geti_controller/app/rest/endpoints/install.py
  platform/services/geti_controller/app/rest/endpoints/versions.py
  platform/services/geti_controller/app/rest/schema/versions.py
  platform/services/geti_controller/chart/templates/cluster-role-binding.yaml
  platform/services/geti_controller/chart/templates/cluster-role.yaml
  platform/services/geti_controller/chart/templates/deployment.yaml
  platform/services/geti_controller/chart/templates/service-entry.yaml
  platform/services/geti_controller/pyproject.toml
  platform/services/geti_controller/tests/unit/test_install.py
  platform/services/geti_controller/uv.lock
  platform/services/installer/Dockerfile
  platform/services/installer/Makefile
  platform/services/installer/app/geti_controller/install.py
  platform/services/installer/app/geti_controller/uninstall.py
Labels: Platform

#442 ITEP-32138 Use training configuration for subset splitting [PART 1]
  web_ui/src/core/configurable-parameters/hooks/use-training-configuration.hook.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#453 ITEP-32138 Integrate filters from new training configuration [PART 2]
  web_ui/src/core/configurable-parameters/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/filters/filters-options.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/filters/filters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
Labels: UI, ready for review

#459 ITEP-32138 Integrate learning parameters from new training configuration [PART 3]
  web_ui/packages/ui/src/toggle-buttons/toggle-buttons.component.tsx
  web_ui/src/core/configurable-parameters/services/configuration.interface.ts
  web_ui/src/core/configurable-parameters/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/training.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/boolean-parameter.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/number-parameter-field.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
Labels: UI, ready for review

#462 Fix batch inference for for Hierarchical Classification
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/evaluation/services/prediction_to_annotation_converter.py
Labels: IAI

#434 Improve error handling for configuration update
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/communication/main.py
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/app/storage/repos/partial_training_configuration_repo.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_project_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_training_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/storage/repos/test_partial_training_configuration_repo.py
  libs/configuration_tools/src/geti_configuration_tools/project_configuration.py
  libs/configuration_tools/src/geti_configuration_tools/training_configuration.py
  libs/configuration_tools/src/geti_configuration_tools/utils.py
  libs/configuration_tools/tests/test_training_configuration.py
Labels: IAI

#437 :chore: Update sw utils now that we use modules
  web_ui/src/service-worker.ts
  web_ui/src/serviceWorkerRegistration.ts
Labels: UI, ready for review

#464 Skip cuda binding install in pyproject.toml
  interactive_ai/workflows/geti_domain/common/Makefile
  interactive_ai/workflows/geti_domain/common/pyproject.toml
  interactive_ai/workflows/geti_domain/common/uv.lock
  interactive_ai/workflows/geti_domain/dataset_ie/Makefile
  interactive_ai/workflows/geti_domain/dataset_ie/pyproject.toml
  interactive_ai/workflows/geti_domain/dataset_ie/uv.lock
  interactive_ai/workflows/geti_domain/optimize/Makefile
  interactive_ai/workflows/geti_domain/optimize/pyproject.toml
  interactive_ai/workflows/geti_domain/optimize/uv.lock
  interactive_ai/workflows/geti_domain/train/Makefile
  interactive_ai/workflows/geti_domain/train/pyproject.toml
  interactive_ai/workflows/geti_domain/train/uv.lock
Labels: IAI

#479 Disable VOC BDD test
  interactive_ai/tests/e2e/features/dataset_import_export.feature
Labels: IAI

#472 ITEP-32138 Integrate augmentation from new training configuration [PART 4]
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation-options.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation-parameters-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/number-parameter-field.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/utils.ts
Labels: UI, ready for review

#491 ITEP-31908 - Remove SignatureUseCaseKMS
  interactive_ai/services/project_ie/tests/integration/test_export_project.py
  interactive_ai/services/project_ie/tests/integration/test_import_project.py
  interactive_ai/services/project_ie/tests/unit/controllers/test_export_controller.py
  interactive_ai/services/project_ie/tests/unit/controllers/test_import_controller.py
  interactive_ai/services/project_ie/tests/unit/controllers/test_upload_controller.py
  interactive_ai/services/project_ie/tests/unit/endpoints/test_export_endpoints.py
  interactive_ai/services/project_ie/tests/unit/endpoints/test_import_endpoints.py
  interactive_ai/services/project_ie/tests/unit/repos/test_upload_operation_mapper.py
  interactive_ai/services/project_ie/tests/unit/repos/test_upload_operation_repo.py
  interactive_ai/services/project_ie/tests/unit/repos/test_zip_storage_repo.py
  interactive_ai/services/project_ie/tests/unit/usecases/test_project_upload_usecase.py
  interactive_ai/workflows/geti_domain/project_ie/job/usecases/signature_usecase.py
  interactive_ai/workflows/geti_domain/project_ie/tests/integration/test_project_import.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/entities/test_manifest.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/entities/test_zip_archive.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/repos/test_binary_storage_repo.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/repos/test_document_repo.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/repos/test_zip_storage_repo.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/usecases/test_data_migration_usecase.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/usecases/test_data_redaction_usecase.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/usecases/test_project_import_usecase.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/usecases/test_signature_usecase.py
  interactive_ai/workflows/geti_domain/project_ie/tests/unit/usecases/test_update_metrics_usecase.py
Labels: IAI

#470 ITEP-31806 Thumbnail preprocessing loaders
  web_ui/src/core/media/base.interface.ts
  web_ui/src/core/media/dtos/base.interface.ts
  web_ui/src/core/media/services/api-media-service/api-media-service.test.ts
  web_ui/src/core/media/services/utils.test.ts
  web_ui/src/core/media/services/utils.ts
  web_ui/src/core/media/utils/preprocessing.utils.test.ts
  web_ui/src/core/media/utils/preprocessing.utils.ts
  web_ui/src/core/tests/services/utils.ts
  web_ui/src/pages/annotator/components/video-player/propagate-annotations/propagate-annotations.test.tsx
  web_ui/src/pages/annotator/components/video-player/video-player.test.tsx
  web_ui/src/pages/media/hooks/media-items/advanced-filter-query.hook.ts
  web_ui/src/pages/media/hooks/media-items/advanced-media-filter.hook.ts
  web_ui/src/shared/components/media-item-view/media-item-view.component.tsx
  web_ui/src/shared/components/media-item-view/media-item-view.test.tsx
  web_ui/src/test-utils/mocked-items-factory/mocked-media.ts
  web_ui/tests/features/project-tests/project-test.spec.ts
Labels: UI, ready for review

#484 ITEP-32138 Integrate tiling parameters from new training configuration [PART 5]
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling-modes.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling.component.tsx
Labels: UI, ready for review

#476 ITEP-70317 User provided data sanitization
  platform/services/user_directory/app/endpoints/user_management/password_reset.py
Labels: Platform

#508 ITEP-68211 update model_server version
  charts/modelmesh-serving-addon/values.yaml
  platform/services/installer/app/templates/impt-values.yaml.j2
Labels: Platform

#512 Version changed to 2.10.1
  Makefile.shared
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
  web_ui/package-lock.json
  web_ui/package.json
Labels: documentation, UI, IAI

#239 ITEP-67565: Allow users to sort labels in any order they want
  interactive_ai/libs/iai_core_py/iai_core/entities/graph.py
  interactive_ai/libs/iai_core_py/iai_core/entities/label.py
  interactive_ai/libs/iai_core_py/iai_core/entities/label_schema.py
  interactive_ai/libs/iai_core_py/iai_core/repos/mappers/mongodb_mappers/label_mapper.py
  interactive_ai/libs/iai_core_py/iai_core/utils/project_builder.py
  interactive_ai/libs/iai_core_py/tests/entities/test_graph.py
  interactive_ai/libs/iai_core_py/tests/entities/test_label_schema.py
  interactive_ai/services/director/tests/fixtures/cr_project.py
  interactive_ai/services/resource/tests/integration/communication/test_integration_label_addition.py
Labels: IAI

#341 ITEP-68021 - background annotations interface
  web_ui/packages/core/src/feature-flags/services/feature-flag-service.interface.ts
  web_ui/src/core/labels/dtos/label.interface.ts
  web_ui/src/core/labels/label.interface.ts
  web_ui/src/core/labels/utils.test.ts
  web_ui/src/core/labels/utils.ts
  web_ui/src/core/projects/services/test-utils.ts
  web_ui/src/core/projects/services/utils.test.ts
  web_ui/src/core/projects/services/utils.ts
  web_ui/src/pages/annotator/annotator-layout.component.tsx
  web_ui/src/pages/annotator/hooks/use-label-shortcuts.hook.test.tsx
  web_ui/src/pages/annotator/hooks/use-label-shortcuts.hook.tsx
  web_ui/src/pages/annotator/utils.test.ts
  web_ui/src/shared/components/label-color-thumb/label-color-thumb.component.tsx
  web_ui/tests/mocks/classification/card-classification-projects.ts
Labels: UI, ready for review

#496 ITEP-68003 - Import keypoint dataset to existing project
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/dataset-import-to-existing-project-dialog-buttons.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/dataset-import-to-existing-project-dialog-buttons.test.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/dataset-import-to-existing-project-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/dataset-import-to-existing-project-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/dataset-import-to-existing-project-map-labels.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/keypoint-error-message.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/keypoint-error-message.test.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/util.test.ts
  web_ui/src/pages/project-details/components/project-dataset/dataset-import-to-existing-project/utils.ts
Labels: UI, ready for review

#513 ITEP-70677 bitnami shell docker image archived
  .github/workflows/main.yml
  interactive_ai/services/dataset_ie/chart/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/values.yaml
  interactive_ai/services/project_ie/chart/values.yaml
  interactive_ai/services/visual_prompt/chart/values.yaml
  platform/services/account/chart/values.yaml
  platform/services/credit/chart/values.yaml
Labels: IAI, Platform

#375 Labels reordering - buttons
  web_ui/packages/core/src/feature-flags/services/feature-flag-service.interface.ts
  web_ui/src/core/labels/label-tree-view.interface.ts
  web_ui/src/pages/create-project/components/project-labels-management/task-labels-management/task-labels-creation-tree/task-labels-creation-tree.component.tsx
  web_ui/src/pages/create-project/components/project-labels-management/task-labels-management/task-labels-management.component.tsx
  web_ui/src/pages/create-project/components/project-labels-management/task-labels-management/task-labels-management.test.tsx
  web_ui/src/pages/create-project/new-project-dialog-task-chain.test.tsx
  web_ui/src/pages/project-details/components/project-labels/project-labels-management/project-labels-management.component.tsx
  web_ui/src/shared/components/label-tree-view/flat-tree-view.component.tsx
  web_ui/src/shared/components/label-tree-view/flat-tree-view.test.tsx
  web_ui/src/shared/components/label-tree-view/hierarchical-tree-view.component.tsx
  web_ui/src/shared/components/label-tree-view/hierarchical-tree-view.test.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-tree-view-item-menu/label-tree-view-item-menu.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-tree-view-item-menu/reorder-menu-button.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-tree-view-item.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-tree-view-item.test.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view.component.tsx
  web_ui/src/shared/components/label-tree-view/utils.ts
  web_ui/tests/features/project-labels/project-labels.spec.ts
Labels: UI, ready for review

#510 :chore: Smart tools interfaces
  web_ui/packages/smart-tools/eslint.config.js
  web_ui/packages/smart-tools/src/shared/interfaces.ts
  web_ui/packages/smart-tools/src/watershed/interfaces.ts
  web_ui/src/shared/canvas-utils.ts
Labels: UI, ready for review

#515 :chore: Get rid of duplicate utils
  web_ui/packages/smart-tools/index.ts
  web_ui/src/pages/annotator/tools/segment-anything-tool/model/post-processing.ts
  web_ui/src/webworkers/grabcut.worker.ts
  web_ui/src/webworkers/ritm.worker.ts
  web_ui/src/webworkers/utils.ts
Labels: UI, ready for review

#507 ITEP-32138 Tiling follow up [PART 7]
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling-modes.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling.component.tsx
Labels: UI, ready for review

#514 Enable dataset IE tests
  interactive_ai/workflows/geti_domain/dataset_ie/Makefile
  interactive_ai/workflows/geti_domain/dataset_ie/tests/conftest.py
Labels: IAI

#528 Move InferenceImage to smart-tools
  web_ui/packages/smart-tools/index.ts
  web_ui/packages/smart-tools/src/inference-image/inference-image.ts
  web_ui/packages/smart-tools/src/utils/utils.ts
  web_ui/src/webworkers/inference-image.worker.ts
  web_ui/src/webworkers/utils.ts
Labels: UI, ready for review

#530 Create new workspace - button adjustment
  web_ui/src/pages/landing-page/workspaces-tabs/workspaces-tabs.component.tsx
Labels: UI

#478 ITEP-66251: Add target for listing docker images
  CONTRIBUTING.md
  Makefile
  Makefile.build
  Makefile.shared
  interactive_ai/Makefile
Labels: IAI

#546 ITEP-70843 - Bugfix: trained model disappears after unsuccessful optimization attempt
  interactive_ai/services/director/app/communication/kafka_handler.py
  interactive_ai/services/director/tests/unit/test_job_kafka_handler.py
Labels: IAI

#543 add make rule to list all BDD test scenarios
  interactive_ai/tests/e2e/.gitignore
  interactive_ai/tests/e2e/Makefile
Labels: IAI

#548 ITEP-70744: Enable GHA for data migration folder
  .github/libs-path-filters.yml
  interactive_ai/data_migration/Makefile
  interactive_ai/data_migration/pyproject.toml
  interactive_ai/data_migration/tests/scripts/test_add_media_filter_data.py
  interactive_ai/data_migration/tests/scripts/test_add_project_type.py
  interactive_ai/data_migration/tests/scripts/test_adjust_hyper_params.py
  interactive_ai/data_migration/tests/scripts/test_correct_vfr_video_fps.py
  interactive_ai/data_migration/tests/scripts/test_drop_operation_collection.py
  interactive_ai/data_migration/tests/scripts/test_drop_unused_indexes.py
  interactive_ai/data_migration/tests/scripts/test_evaluation_result.py
  interactive_ai/data_migration/tests/scripts/test_fix_auto_num_workers.py
  interactive_ai/data_migration/tests/scripts/test_new_annotation_scene_index.py
  interactive_ai/data_migration/tests/scripts/test_remove_auto_train_policy.py
  interactive_ai/data_migration/tests/scripts/test_remove_empty_annotation_scene.py
  interactive_ai/data_migration/tests/scripts/test_remove_empty_annotations.py
  interactive_ai/data_migration/tests/scripts/test_remove_ndr.py
  interactive_ai/data_migration/tests/scripts/test_remove_result_media.py
  interactive_ai/data_migration/tests/scripts/test_remove_result_set_and_model_test_result.py
  interactive_ai/data_migration/tests/scripts/test_set_annotation_filter_config_params.py
  interactive_ai/data_migration/tests/scripts/test_set_dynamic_required_annotations_config_params.py
  interactive_ai/data_migration/tests/scripts/test_set_train_validation_remixing_config_params.py
  interactive_ai/data_migration/tests/scripts/test_set_training_framework_in_models.py
  interactive_ai/data_migration/tests/scripts/test_update_media_score.py
  interactive_ai/data_migration/uv.lock
  interactive_ai/migration_job/uv.lock
  interactive_ai/workflows/geti_domain/project_ie/uv.lock
Labels: IAI

#542 ITEP-36739 fix error handling in AuthenticationLayout
  web_ui/src/routes/auth/auth.layout.tsx
Labels: UI, ready for review

#562 ITEP-70983 increasing memory requests and memory limit in hpa configuration
  interactive_ai/services/jobs/chart/values.yaml
Labels: IAI

#555 ITEP-32042 Display model training parameters [PART 1]
  web_ui/packages/core/src/requests/query-keys.ts
  web_ui/src/core/configurable-parameters/dtos/configuration.interface.ts
  web_ui/src/core/configurable-parameters/hooks/use-trained-model-configuration.hook.ts
  web_ui/src/core/configurable-parameters/hooks/use-training-configuration.hook.ts
  web_ui/src/core/configurable-parameters/services/api-model-config-parameters-service.ts
  web_ui/src/core/configurable-parameters/services/configuration.interface.ts
  web_ui/src/core/configurable-parameters/services/in-memory-api-model-config-parameters-service.ts
  web_ui/src/core/configurable-parameters/services/utils.ts
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/model-configurable-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/model-training-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/trained-model-configuration-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/trained-model-configuration-parameters.module.scss
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/utils.test.ts
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
  web_ui/src/test-utils/mocked-items-factory/mocked-configuration-parameters.ts
Labels: UI, ready for review

#552 ITEP-70742 - Add default model info
  interactive_ai/supported_models/geti_supported_models/default_models.py
  interactive_ai/supported_models/geti_supported_models/model_manifest.py
Labels: IAI

#568 ITEP-32042 Data management parameters and advanced configuration [PART 2]
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/advanced-configuration.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/model-data-management-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/trained-model-configuration-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/trained-model-configuration-parameters.module.scss
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation-parameters-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling-modes.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
  web_ui/src/shared/components/not-found/not-found.component.tsx
Labels: UI, ready for review

#572 Update OPA policies
  platform/services/opa_bundle/Makefile
  platform/services/opa_bundle/app/policies/acc/policy.rego
  platform/services/opa_bundle/app/policies/acc/policy_test.rego
  platform/services/opa_bundle/app/policies/common/common.rego
  platform/services/opa_bundle/app/policies/common/mask_sensitive_logs.rego
  platform/services/opa_bundle/app/policies/credits/policy.rego
  platform/services/opa_bundle/app/policies/credits/policy_test.rego
  platform/services/opa_bundle/app/policies/default/policy.rego
  platform/services/opa_bundle/app/policies/default/policy_test.rego
  platform/services/opa_bundle/app/policies/gtw/policy.rego
  platform/services/opa_bundle/app/policies/gtw/policy_test.rego
  platform/services/opa_bundle/app/policies/onboarding/policy.rego
  platform/services/opa_bundle/app/policies/onboarding/policy_test.rego
Labels: Platform

#571 ITEP-71018 - Disallow model selection for keypoint projects
  web_ui/src/pages/annotator/tools/explanation-tool/select-model.component.tsx
  web_ui/src/pages/annotator/tools/explanation-tool/select-model.test.tsx
Labels: UI, ready for review

#564 ITEP-70870 correction of a misleading message
  web_ui/src/pages/analytics/analytics.component.tsx
  web_ui/src/pages/analytics/analytics.test.tsx
Labels: UI

#551 ITEP-69192 removal of sensitive data from logs
  platform/services/credit/app/dependencies.py
  platform/services/user_directory/app/endpoints/user_management/activate_user.py
Labels: Platform
