Repository open-edge-platform/geti, pull requests merged in 2025-05, with the labels that each got.

#111 Add label workflow
  .github/workflows/label.yml
Labels: ready for review

#134 [CHORE] Delete dead code
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/core/feature-flags/hooks/use-feature-flag-query.hook.ts
  web_ui/src/core/jobs/utils.ts
  web_ui/src/core/labels/label-resolver.ts
  web_ui/src/core/learning-videos/dtos/learning-video.interface.ts
  web_ui/src/core/learning-videos/hooks/learning-videos.ts
  web_ui/src/core/learning-videos/hooks/use-learning-videos.hook.ts
  web_ui/src/core/models/services/utils.ts
  web_ui/src/core/users/hook/use-profile.hook.ts
  web_ui/src/pages/annotator/components/navigation-toolbar/annotations-required/annotations-required.component.tsx
  web_ui/src/providers/media-upload-provider/media-upload-reducer-actions.ts
  web_ui/src/shared/components/configurable-parameters/rules.ts
  web_ui/src/shared/components/download-graph-menu/export-csv-utils.ts
  web_ui/src/shared/components/frame-number-indicator/frame-number-indicator.component.tsx
  web_ui/src/shared/components/has-permission/has-permission.component.tsx
  web_ui/src/shared/components/has-permission/utils.ts
  web_ui/src/shared/components/label-tree-view/utils.ts
  web_ui/src/test-utils/mocked-items-factory/mocked-subscription.ts
  web_ui/src/test-utils/mocked-items-factory/mocked-upload-items.ts
Labels: UI, ready for review

#133 Add timeout when clicking "import" in e2e test
  web_ui/tests/e2e/.env.example
  web_ui/tests/e2e/daily/card-suit-classification.spec.ts
Labels: UI, ready for review

#153 chore: Hide components that are not part of training flow revamp v1
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/balance-labels-distribution/balance-labels-distribution.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/removing-duplicated/removing-duplicates.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/evaluation/evaluation.component.tsx
Labels: UI, ready for review

#142 Add readme and contributor file to UI
  .github/workflows/web-ui.yml
  web_ui/.env.development
  web_ui/.env.example
  web_ui/CONTRIBUTING.md
  web_ui/Dockerfile
  web_ui/README.md
  web_ui/dev-proxy.ts
  web_ui/package.json
  web_ui/src/pages/annotator/tools/ritm-tool/loading-animation.component.tsx
  web_ui/tests/features/fux/utils.ts
Labels: UI, ready for review

#136 [CHORE] Update all 'safe-to-do-so' packages
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/app.test.tsx
  web_ui/src/setupTests.tsx
Labels: UI, ready for review

#155 perf: Lazy load rest api specs
  web_ui/src/routes/app-routes.component.tsx
Labels: UI, ready for review

#114 CVS-164935 Enable builder images in CI
  .github/workflows/component.yml
  Makefile.shared
  Makefile.shared-go
  Makefile.shared-python
  builder-images/Makefile.shared-builders
  builder-images/go-builder/Makefile
  builder-images/python-builder/Makefile
Labels: Platform

#160 Fix CI UI workflow
  web_ui/Makefile
  web_ui/README.md
Labels: UI, ready for review

#144 CVS-163854 - replace react virtuoso - p2
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list-container/annotation-list-container.test.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list-item/annotation-list-item-content.component.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.component.tsx
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list.module.scss
  web_ui/src/pages/annotator/annotation/annotation-list/test-utils.tsx
  web_ui/src/pages/annotator/annotation/list-item-grid.component.tsx
  web_ui/src/pages/annotator/annotation/list-item-grid.test.tsx
  web_ui/src/pages/annotator/annotation/pose-list/node-content.component.tsx
  web_ui/src/pages/annotator/annotation/pose-list/node-list.component.tsx
  web_ui/src/pages/annotator/components/labels/label-tag/label-tag.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/label-picker.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/secondary-toolbar.test.tsx
  web_ui/src/setupTests.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-tree-view-item.test.tsx
  web_ui/src/shared/components/pressable-element/pressable-element.component.tsx
  web_ui/tests/features/annotator/classification/classification.spec.ts
  web_ui/tests/features/annotator/filter-annotations/filter-annotations.spec.ts
  web_ui/tests/features/annotator/tools/object-coloring-tool.spec.ts
  web_ui/tests/features/annotator/utils.ts
  web_ui/tests/features/components/label-search.spec.ts
  web_ui/tests/fixtures/page-objects/intel-admin-page.ts
Labels: UI, ready for review

#163 ITEP-33007 Cleanup core [PART 5]
  web_ui/src/core/models/hooks/use-models.hook.ts
  web_ui/src/core/requests/query-keys.ts
  web_ui/src/core/supported-algorithms/hooks/use-tasks-with-supported-algorithms.ts
  web_ui/src/pages/annotator/components/video-player/streaming-video-player/use-buffer-streaming-queries.hook.ts
  web_ui/src/pages/project-details/components/project-dataset/hooks/open-notification-toast.hook.tsx
  web_ui/src/pages/project-details/components/project-model/model-variants/model-variants.test.tsx
  web_ui/src/pages/project-details/components/project-models/legacy-train-model-dialog/use-training-state-value/use-training-state-value.hook.tsx
  web_ui/src/pages/project-details/components/project-models/models-container/models-container.component.tsx
  web_ui/src/pages/project-details/components/project-models/models-container/models-container.test.tsx
  web_ui/src/pages/project-details/components/project-models/models-groups-per-tasks.test.tsx
  web_ui/src/pages/project-details/components/project-models/project-models.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
  web_ui/src/pages/project-details/hooks/use-tasks-with-supported-algorithms.ts
Labels: UI, ready for review

#166 chore: Remove old or unused code
  web_ui/src/pages/landing-page/landing-page-workspace/components/no-projects-area/learn-section-card.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/no-projects-area/no-projects-area.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/no-projects-area/no-projects-area.test.tsx
  web_ui/src/shared/components/media-item-annotations-preview/preview-title.component.tsx
  web_ui/src/shared/components/media-item-annotations-preview/preview-title.test.tsx
Labels: UI, ready for review

#159 ITEP-31884 Implement API handlers for training flow revamp
  web_ui/src/core/configurable-parameters/dtos/configuration.interface.ts
  web_ui/src/core/configurable-parameters/hooks/use-project-configuration.hook.ts
  web_ui/src/core/configurable-parameters/hooks/use-training-configuration.hook.ts
  web_ui/src/core/configurable-parameters/services/api-model-config-parameters-service.ts
  web_ui/src/core/configurable-parameters/services/configuration.interface.ts
  web_ui/src/core/configurable-parameters/services/in-memory-api-model-config-parameters-service.ts
  web_ui/src/core/configurable-parameters/services/utils.ts
  web_ui/src/core/requests/query-keys.ts
  web_ui/src/core/services/urls.ts
Labels: UI, ready for review

#137 ITEP-29872 Migrate backend BDD tests
  .github/components-path-filters.yml
  interactive_ai/tests/e2e/.gitignore
  interactive_ai/tests/e2e/Makefile
  interactive_ai/tests/e2e/README.md
  interactive_ai/tests/e2e/features/annotation.feature
  interactive_ai/tests/e2e/features/dataset_import_export.feature
  interactive_ai/tests/e2e/features/environment.py
  interactive_ai/tests/e2e/features/label_addition.feature
  interactive_ai/tests/e2e/features/label_deletion.feature
  interactive_ai/tests/e2e/features/obsolete_model.feature
  interactive_ai/tests/e2e/features/optimizing.feature
  interactive_ai/tests/e2e/features/project_import.feature
  interactive_ai/tests/e2e/features/project_removal.feature
  interactive_ai/tests/e2e/features/project_renaming.feature
  interactive_ai/tests/e2e/features/steps/annotation_management.py
  interactive_ai/tests/e2e/features/steps/dataset_import_export.py
  interactive_ai/tests/e2e/features/steps/error_handling.py
  interactive_ai/tests/e2e/features/steps/file_management.py
  interactive_ai/tests/e2e/features/steps/job_monitoring.py
  interactive_ai/tests/e2e/features/steps/label_management.py
  interactive_ai/tests/e2e/features/steps/media_management.py
  interactive_ai/tests/e2e/features/steps/model_mangement.py
  interactive_ai/tests/e2e/features/steps/optimization.py
  interactive_ai/tests/e2e/features/steps/predictions.py
  interactive_ai/tests/e2e/features/steps/project_import.py
  interactive_ai/tests/e2e/features/steps/project_management.py
  interactive_ai/tests/e2e/features/steps/static_definitions.py
  interactive_ai/tests/e2e/features/steps/training.py
  interactive_ai/tests/e2e/features/steps/workspace_management.py
  interactive_ai/tests/e2e/features/training.feature
  interactive_ai/tests/e2e/pyproject.toml
Labels: IAI

#175 Filtering by date range - parameters description
  docs/rest_api/parameters/query/start_time_from.yaml
  docs/rest_api/parameters/query/start_time_to.yaml
Labels: documentation, IAI

#157 Pass security context for Intel GPU based training jobs
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_image_info.py
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_pod_definition.py
  interactive_ai/workflows/geti_domain/common/tests/unit/k8s_helpers/test_trainer_image_info.py
Labels: IAI

#179 Extract redirect components from routes files
  web_ui/src/routes/app-routes.component.tsx
  web_ui/src/routes/intel-admin-routes.tsx
  web_ui/src/routes/intel-admin/redirect.component.tsx
  web_ui/src/routes/redirect.component.tsx
Labels: UI, ready for review

#167 Fix pre-commit for systems that don't support cuda-bindings
  interactive_ai/workflows/geti_domain/common/Makefile
  interactive_ai/workflows/geti_domain/dataset_ie/Makefile
  interactive_ai/workflows/geti_domain/optimize/Makefile
  interactive_ai/workflows/geti_domain/train/Makefile
Labels: IAI

#140 ITEP-32097 - Implement model manifest parser and pydantic models
  interactive_ai/services/director/Dockerfile
  interactive_ai/services/director/Makefile
  interactive_ai/services/director/app/entities/project_configuration.py
  interactive_ai/services/director/pyproject.toml
  interactive_ai/services/director/tests/unit/entities/test_project_configuration.py
  interactive_ai/services/director/uv.lock
  interactive_ai/supported_models/Makefile
  interactive_ai/supported_models/geti_supported_models/__init__.py
  interactive_ai/supported_models/geti_supported_models/hyperparameters/__init__.py
  interactive_ai/supported_models/geti_supported_models/hyperparameters/augmentation.py
  interactive_ai/supported_models/geti_supported_models/hyperparameters/hyperparameters.py
  interactive_ai/supported_models/geti_supported_models/manifests/base.yaml
  interactive_ai/supported_models/geti_supported_models/model_manifest.py
  interactive_ai/supported_models/geti_supported_models/parser.py
  interactive_ai/supported_models/pyproject.toml
  interactive_ai/supported_models/tests/dummy_base_model_manifest.yaml
  interactive_ai/supported_models/tests/dummy_model_manifest.yaml
  interactive_ai/supported_models/tests/test_model_manifest.py
  interactive_ai/supported_models/uv.lock
Labels: IAI

#182 ITEP-36801 Add HTTP request logging for go services
  interactive_ai/libs/iai_core_go/middleware/logger.go
  interactive_ai/libs/iai_core_go/middleware/logger_test.go
  interactive_ai/services/inference_gateway/main.go
  interactive_ai/services/media/app/controller/image.go
  interactive_ai/services/media/main.go
Labels: ready for review, IAI

#191 fix: Don't hide quick annotation when app is no longer hovered
  web_ui/src/pages/project-details/components/project-media/grid-media-item.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-actions/media-item-actions.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-actions/media-item-actions.test.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-details.component.tsx
Labels: UI, ready for review

#202 Update links to documentation and documentation address
  web_ui/chart/templates/ui-deployment-config.yaml
  web_ui/src/core/services/use-deployment-config-query.hook.ts
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.test.tsx
  web_ui/src/setupTests.tsx
  web_ui/src/shared/components/tutorial-card/tutorial-card.component.test.tsx
  web_ui/src/shared/components/tutorials/utils.ts
Labels: UI, ready for review

#201 ITEP-66524 New license version
  LICENSE
  web_ui/src/shared/components/license-modal/license-modal.component.tsx
Labels: UI

#195 refactor: Leverage AbortController to remove events
  web_ui/src/hooks/event-listener/event-listener.hook.ts
  web_ui/src/hooks/use-storage/use-storage.ts
  web_ui/src/pages/camera-page/providers/video-recording-provider.component.tsx
  web_ui/src/pages/camera-support/use-camera.hook.tsx
Labels: UI, ready for review

#211 Fix UTIF module export
  web_ui/src/shared/canvas-utils.ts
Labels: UI, ready for review

#203 Render a react-router Link when adding href to a button
  web_ui/src/shared/components/button/button.component.tsx
  web_ui/src/shared/components/button/button.test.tsx
Labels: UI, ready for review

#212 Allow user to toggle mirroring their camera feed
  web_ui/src/pages/camera-page/components/camera/camera.component.tsx
  web_ui/src/pages/camera-page/components/sidebar/device-settings.component.tsx
  web_ui/src/pages/camera-page/components/sidebar/device-settings.test.tsx
  web_ui/src/pages/camera-page/providers/device-settings-provider.component.tsx
  web_ui/src/pages/camera-page/test-utils/camera-setting.ts
Labels: UI, ready for review

#208 ITEP-36948 - Fix empty model hyperparameters
  interactive_ai/services/director/app/configuration/configuration_manager.py
Labels: IAI

#216 Move PersistentEntity to geti-types lib
  interactive_ai/libs/iai_core_py/iai_core/configuration/interfaces/configurable_parameters_interface.py
  interactive_ai/libs/iai_core_py/iai_core/entities/active_model_state.py
  interactive_ai/libs/iai_core_py/iai_core/entities/annotation.py
  interactive_ai/libs/iai_core_py/iai_core/entities/annotation_scene_state.py
  interactive_ai/libs/iai_core_py/iai_core/entities/annotation_template.py
  interactive_ai/libs/iai_core_py/iai_core/entities/compiled_dataset_shards.py
  interactive_ai/libs/iai_core_py/iai_core/entities/dataset_entities.py
  interactive_ai/libs/iai_core_py/iai_core/entities/dataset_item.py
  interactive_ai/libs/iai_core_py/iai_core/entities/dataset_storage.py
  interactive_ai/libs/iai_core_py/iai_core/entities/dataset_storage_filter_data.py
  interactive_ai/libs/iai_core_py/iai_core/entities/datasets.py
  interactive_ai/libs/iai_core_py/iai_core/entities/evaluation_result.py
  interactive_ai/libs/iai_core_py/iai_core/entities/image.py
  interactive_ai/libs/iai_core_py/iai_core/entities/label.py
  interactive_ai/libs/iai_core_py/iai_core/entities/label_schema.py
  interactive_ai/libs/iai_core_py/iai_core/entities/media_score.py
  interactive_ai/libs/iai_core_py/iai_core/entities/metadata.py
  interactive_ai/libs/iai_core_py/iai_core/entities/model.py
  interactive_ai/libs/iai_core_py/iai_core/entities/model_storage.py
  interactive_ai/libs/iai_core_py/iai_core/entities/project.py
  interactive_ai/libs/iai_core_py/iai_core/entities/suspended_scenes.py
  interactive_ai/libs/iai_core_py/iai_core/entities/task_node.py
  interactive_ai/libs/iai_core_py/iai_core/entities/video.py
  interactive_ai/libs/iai_core_py/iai_core/entities/video_annotation_range.py
  interactive_ai/libs/iai_core_py/iai_core/repos/base/read_only_repo.py
  interactive_ai/libs/iai_core_py/iai_core/repos/base/session_repo.py
  interactive_ai/libs/iai_core_py/tests/fixtures/repo.py
  interactive_ai/libs/iai_core_py/tests/repos/base/test_session_repo.py
  interactive_ai/libs/iai_core_py/tests/test_helpers.py
  interactive_ai/libs/sc_sdk/uv.lock
  interactive_ai/services/auto_train/app/entities.py
  interactive_ai/services/dataset_ie/app/domain/entities/dataset_ie_file_metadata.py
  interactive_ai/services/director/app/active_learning/entities/active_score.py
  interactive_ai/services/director/app/active_learning/entities/active_suggestion.py
  interactive_ai/services/director/app/entities/auto_train_activation.py
  interactive_ai/services/director/app/entities/dataset_item_count.py
  interactive_ai/services/director/app/entities/dataset_item_labels.py
  interactive_ai/services/director/tests/test_helpers.py
  interactive_ai/services/jobs/app/model/job.py
  interactive_ai/services/project_ie/app/entities/upload_operation.py
  interactive_ai/services/resource/app/entities/deployment.py
  interactive_ai/services/resource/app/entities/ui_settings.py
  interactive_ai/services/resource/tests/utils/test_helpers.py
  interactive_ai/services/visual_prompt/app/entities/reference_feature.py
  libs/types/src/geti_types/__init__.py
  libs/types/src/geti_types/persistent_entity.py
Labels: IAI

#184 ITEP-66300 Create monorepo config
  web_ui/.dockerignore
  web_ui/Dockerfile
  web_ui/eslint.config.js
  web_ui/jest.config.js
  web_ui/jest.global.js
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/config/lint/eslint.config.js
  web_ui/packages/config/package.json
  web_ui/packages/config/test/jest.config.js
  web_ui/packages/config/test/jest.global.js
  web_ui/packages/config/typescript/tsconfig.base.json
  web_ui/packages/ui/eslint.config.js
  web_ui/packages/ui/jest.config.js
  web_ui/packages/ui/package.json
  web_ui/packages/ui/src/button/button.component.tsx
  web_ui/packages/ui/src/button/button.test.tsx
  web_ui/packages/ui/src/setupTests.tsx
  web_ui/packages/ui/tsconfig.json
  web_ui/tsconfig.json
Labels: UI, ready for review

#217 Remove react-content-loader
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/shared/components/configurable-parameters/config-params-placeholder/config-params-placeholder.component.tsx
Labels: UI, ready for review

#215 Make edit annotations button a link button
  web_ui/src/core/services/use-navigate-to-annotator-route.hook.ts
  web_ui/src/pages/annotator/components/sidebar/dataset/dataset-picker/dataset-picker.component.tsx
  web_ui/src/pages/annotator/components/sidebar/dataset/use-delete-dataset-item.hook.ts
  web_ui/src/pages/annotator/providers/annotator-provider/annotator-provider.test.tsx
  web_ui/src/pages/annotator/providers/selected-media-item-provider/selected-media-item-provider.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/dataset-tab-panel.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-actions/media-item-menu.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-factory.component.tsx
  web_ui/src/pages/project-details/components/project-models/legacy-train-model-dialog/not-enough-annotations-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/not-enough-annotations-dialog.component.tsx
  web_ui/src/shared/components/media-item-annotations-preview/edit-annotations-button/edit-annotations-button.component.tsx
  web_ui/src/shared/components/media-item-annotations-preview/edit-annotations-button/edit-annotations-button.test.tsx
  web_ui/tests/features/project-tests/project-test.spec.ts
Labels: UI, ready for review

#214 Fix that Auto-training Started Notification is triggered both by scheduled and running training jobs
  web_ui/src/core/services/use-deployment-config-query.hook.test.tsx
  web_ui/src/core/services/use-deployment-config-query.hook.ts
  web_ui/src/hooks/use-is-saas-env/use-is-saas-env.hook.test.ts
  web_ui/src/pages/annotator/notification/auto-training-credits-modal/auto-training-credits-modal.component.tsx
  web_ui/src/pages/annotator/notification/auto-training-credits-modal/auto-training-credits-modal.test.tsx
  web_ui/src/pages/annotator/notification/auto-training-credits-modal/util.test.ts
  web_ui/src/pages/annotator/notification/auto-training-credits-modal/util.ts
  web_ui/src/pages/annotator/tools/bounding-box/index.tsx
  web_ui/src/pages/annotator/tools/circle-tool/index.tsx
  web_ui/src/pages/annotator/tools/grabcut-tool/index.tsx
  web_ui/src/pages/annotator/tools/polygon-tool/index.tsx
  web_ui/src/pages/annotator/tools/ritm-tool/index.tsx
  web_ui/src/pages/annotator/tools/rotated-bounding-box-tool/index.tsx
  web_ui/src/pages/annotator/tools/segment-anything-tool/index.tsx
  web_ui/src/pages/annotator/tools/ssim-tool/index.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/index.tsx
  web_ui/src/pages/create-project/import-project-panel.component.tsx
  web_ui/src/shared/components/coach-mark/fux-notifications/auto-training-coach-mark.component.tsx
  web_ui/src/shared/components/tutorial-card/tutorial-card.component.test.tsx
  web_ui/src/shared/components/tutorials/utils.ts
  web_ui/tests/features/credit-system/mocks.ts
  web_ui/tests/features/fux/annotator-training-fux.spec.ts
Labels: UI, ready for review

#221 chore: Datumaro for keypoint
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/utils.ts
Labels: UI, ready for review

#222 ITEP66905 - UI components cleanup [PART 1]
  web_ui/src/pages/annotator/components/footer/training-progress/progress-bar.component.tsx
  web_ui/src/pages/annotator/components/footer/training-progress/training-progress.component.tsx
  web_ui/src/pages/annotator/components/footer/training-progress/training-progress.module.scss
  web_ui/src/pages/annotator/components/footer/training-progress/training-progress.test.tsx
  web_ui/src/shared/components/table/components/sort-icon/sort-icon.component.tsx
  web_ui/src/shared/components/table/components/sort-icon/sort-icon.test.tsx
  web_ui/src/shared/components/table/spectrum-table.scss
  web_ui/src/shared/components/table/table.scss
Labels: UI, ready for review

#224 chore: Include `packages` in the prettier formatting
  web_ui/package.json
Labels: UI, ready for review

#207 ITEP-163854 - replace react virtuoso - p3
  web_ui/src/pages/annotator/annotation/pose-list/node-list.component.tsx
  web_ui/src/pages/annotator/components/sidebar/dataset/dataset-list-item-details.component.tsx
  web_ui/src/pages/annotator/components/sidebar/dataset/dataset-list.component.tsx
  web_ui/src/pages/camera-page/media-gallery/components/media-item.component.tsx
  web_ui/src/pages/camera-page/media-gallery/components/media-list.component.tsx
  web_ui/src/pages/camera-page/media-gallery/components/media-list.test.tsx
  web_ui/src/pages/camera-page/media-gallery/media-gallery.component.tsx
  web_ui/src/pages/camera-page/media-gallery/media-gallery.test.tsx
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-details.component.tsx
  web_ui/src/pages/project-details/components/project-test/test-media-item-details-card.component.tsx
  web_ui/src/pages/project-details/components/project-test/test-media-items-list.component.tsx
  web_ui/src/shared/components/media-items-list/media-items-list.component.tsx
  web_ui/src/shared/components/media-items-list/media-items-list.module.scss
  web_ui/src/shared/components/media-view-modes/utils.ts
  web_ui/tests/features/annotator/anomaly/anomaly-video-ranges/anomaly-video-ranges.spec.ts
  web_ui/tests/features/annotator/classification/classification-video-ranges.spec.ts
  web_ui/tests/features/project-tests/project-test.spec.ts
Labels: UI, ready for review

#227 fix: Close training dialog when user started training
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.component.tsx
Labels: UI, ready for review

#218 chore: Add architecture decision record for monorepo
  web_ui/architecture-decision-records/monorepo-architecture.md
  web_ui/architecture-decision-records/monorepo-architecture.png
Labels: UI, ready for review

#154 Remove relocatable venvs
  interactive_ai/migration_job/Dockerfile
  interactive_ai/services/auto_train/Dockerfile
  interactive_ai/services/dataset_ie/Dockerfile
  interactive_ai/services/director/Dockerfile
  interactive_ai/services/jobs/Dockerfile
  interactive_ai/services/mlflow_geti_store/Dockerfile
  interactive_ai/services/model_registration/Dockerfile
  interactive_ai/services/project_ie/Dockerfile
  interactive_ai/services/resource/Dockerfile
  interactive_ai/services/visual_prompt/Dockerfile
  interactive_ai/workflows/geti_domain/dataset_ie/Dockerfile
  interactive_ai/workflows/geti_domain/model_test/Dockerfile
  interactive_ai/workflows/geti_domain/optimize/Dockerfile
  interactive_ai/workflows/geti_domain/project_ie/Dockerfile
  interactive_ai/workflows/geti_domain/train/Dockerfile
  interactive_ai/workflows/otx_domain/trainer/otx_v2/Dockerfile
  interactive_ai/workflows/otx_domain/trainer/otx_v2/run
  platform/services/credit/Dockerfile
  platform/services/initial_user/Dockerfile
  platform/services/notifier/Dockerfile
  platform/services/observability/Dockerfile
  platform/services/onboarding/Dockerfile
  platform/services/platform_cleaner/Dockerfile
  platform/services/user_directory/Dockerfile
Labels: IAI, Platform

#226 Merge templates interactive_ai/services/jobs to one single helm chart
  interactive_ai/services/jobs/chart/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/autoscaler.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/serviceaccount.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/service_account.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/service_account.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/values.yaml
  interactive_ai/services/jobs/chart/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/templates/autoscaler.yaml
  interactive_ai/services/jobs/chart/templates/clusterrole.yaml
  interactive_ai/services/jobs/chart/templates/clusterrole_binding.yaml
  interactive_ai/services/jobs/chart/templates/deployment.yaml
  interactive_ai/services/jobs/chart/templates/destination_rule.yaml
  interactive_ai/services/jobs/chart/templates/http_route.yaml
  interactive_ai/services/jobs/chart/templates/init-job.yaml
  interactive_ai/services/jobs/chart/templates/jobs-templates-configmap.yaml
  interactive_ai/services/jobs/chart/templates/rate_limiter.yaml
  interactive_ai/services/jobs/chart/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/templates/role.yaml
  interactive_ai/services/jobs/chart/templates/service.yaml
  interactive_ai/services/jobs/chart/templates/service_account.yaml
  interactive_ai/services/jobs/chart/templates/virtual_service.yaml
  interactive_ai/services/jobs/chart/values.yaml
Labels: IAI

#236 :chore: ITEP-66905 UI components cleanup pt2
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/routes/redirect.component.tsx
  web_ui/src/setupTests.tsx
  web_ui/src/shared/components/three-dots-flashing/three-dots-flashing.component.module.scss
  web_ui/src/shared/components/three-dots-flashing/three-dots-flashing.component.tsx
  web_ui/src/test-utils/utils.ts
Labels: UI, ready for review

#225 ITEP-64780 weights uploader
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_pod_definition.py
  interactive_ai/workflows/otx_domain/trainer/otx_v2/scripts/minio_util.py
  interactive_ai/workflows/otx_domain/trainer/otx_v2/scripts/run.py
  platform/services/weights_uploader/.dockerignore
  platform/services/weights_uploader/Dockerfile
  platform/services/weights_uploader/Makefile
  platform/services/weights_uploader/app/__init__.py
  platform/services/weights_uploader/app/pretrained_models/pretrained_models.py
  platform/services/weights_uploader/app/pretrained_models/pretrained_models_v2.json
  platform/services/weights_uploader/app/weights_uploader.py
  platform/services/weights_uploader/chart/Chart.yaml
  platform/services/weights_uploader/chart/templates/weight_uploader_job.yaml
  platform/services/weights_uploader/chart/templates/weight_uploader_proxy.yaml
  platform/services/weights_uploader/chart/templates/weight_uploader_rbac.yaml
  platform/services/weights_uploader/chart/templates/weight_uploader_serviceentry.yaml
  platform/services/weights_uploader/pyproject.toml
  platform/services/weights_uploader/tests/unit/__init__.py
  platform/services/weights_uploader/tests/unit/test_weights_uploader.py
  platform/services/weights_uploader/uv.lock
Labels: IAI, Platform

#230 ITEP-163854 - replace react virtuoso - p4
  web_ui/src/pages/annotator/components/sidebar/dataset/dataset-list-item-details.component.tsx
  web_ui/src/pages/annotator/components/sidebar/dataset/dataset-list.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.component.tsx
  web_ui/src/pages/project-details/components/project-test/test-media-items-list.component.tsx
  web_ui/src/shared/components/media-items-list/media-items-list.component.tsx
  web_ui/src/shared/components/media-items-list/use-get-target-position.hook.test.tsx
  web_ui/src/shared/components/media-items-list/use-get-target-position.hook.tsx
  web_ui/src/shared/components/media-view-modes/utils.ts
Labels: UI, ready for review

#220 ITEP-32484 - Implement GET project_configuration endpoint
  interactive_ai/services/director/app/communication/controllers/project_configuration_controller.py
  interactive_ai/services/director/app/communication/endpoints/project_configuration_endpoints.py
  interactive_ai/services/director/app/communication/main.py
  interactive_ai/services/director/app/communication/views/configurable_parameters_to_rest.py
  interactive_ai/services/director/app/communication/views/project_configuration_rest_views.py
  interactive_ai/services/director/chart/templates/http_route.yaml
  interactive_ai/services/director/chart/values.yaml
  interactive_ai/services/director/tests/fixtures/project_configuration.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_project_configuration_controller.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_project_configuration_endpoints.py
Labels: IAI

#253 Update the path of the remote test data bucket
  interactive_ai/tests/e2e/features/steps/dataset_import_export.py
  interactive_ai/tests/e2e/features/steps/file_management.py
  interactive_ai/tests/e2e/features/steps/project_import.py
Labels: IAI

#250 ITEP-67391 training pod defined env variables
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_pod_definition.py
  interactive_ai/workflows/otx_domain/trainer/otx_v2/scripts/minio_util.py
  interactive_ai/workflows/otx_domain/trainer/otx_v2/scripts/run.py
Labels: IAI

#254 Revert "Merge templates interactive_ai/services/jobs to one single helm chart"
  interactive_ai/services/jobs/chart/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/autoscaler.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/destination_rule.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/http_route.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/rate_limiter.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/serviceaccount.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/virtual_service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/jobs-templates-configmap.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/service_account.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/clusterrole.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/clusterrole_binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/service_account.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/values.yaml
  interactive_ai/services/jobs/chart/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/templates/autoscaler.yaml
  interactive_ai/services/jobs/chart/templates/deployment.yaml
  interactive_ai/services/jobs/chart/templates/init-job.yaml
  interactive_ai/services/jobs/chart/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/templates/role.yaml
  interactive_ai/services/jobs/chart/templates/service.yaml
  interactive_ai/services/jobs/chart/templates/service_account.yaml
  interactive_ai/services/jobs/chart/values.yaml
Labels: IAI

#243 ITEP-163854 - replace react virtuoso - p5
  web_ui/src/setupTests.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list-item-status.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list-item.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list-item.test.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list.test.tsx
  web_ui/src/shared/components/header/jobs-management/jobs.module.scss
  web_ui/src/shared/components/header/jobs-management/virtualized-jobs-list.component.tsx
  web_ui/src/shared/components/tabs/tabs.module.scss
Labels: UI, ready for review

#247 ITEP-163854 - replace react virtuoso - p6
  web_ui/packages/ui/index.ts
  web_ui/packages/ui/src/divider/divider.module.scss
  web_ui/packages/ui/src/virtualize-list-layout/virtualize-list-layout.module.scss
  web_ui/packages/ui/src/virtualize-list-layout/virtualize-list-layout.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/components/project/project-export-status.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/components/project/project.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/projects-list.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/projects-list.module.scss
  web_ui/tests/features/job-scheduler/job-scheduler.spec.ts
Labels: UI, ready for review

#232 BDD tests for removing project in training and testing dataset
  interactive_ai/tests/e2e/features/project_removal.feature
  interactive_ai/tests/e2e/features/steps/annotation_management.py
  interactive_ai/tests/e2e/features/steps/job_monitoring.py
  interactive_ai/tests/e2e/features/steps/media_management.py
  interactive_ai/tests/e2e/features/steps/project_management.py
  interactive_ai/tests/e2e/features/steps/training.py
Labels: IAI

#244 ITEP-32304: Remove support for OTX 1.6 trainer
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_image_info.py
  interactive_ai/workflows/geti_domain/common/tests/unit/k8s_helpers/test_trainer_image_info.py
Labels: IAI

#257 ITEP-66301 Move `theme` to the ui package, use @geti/ui/theme import [PART 8]
  web_ui/packages/ui/eslint.config.js
  web_ui/packages/ui/index.ts
  web_ui/packages/ui/theme/geti/geti-dark.module.css
  web_ui/packages/ui/theme/geti/geti-global.module.css
  web_ui/packages/ui/theme/geti/geti-large.module.css
  web_ui/packages/ui/theme/geti/geti-light.module.css
  web_ui/packages/ui/theme/geti/geti-medium.module.css
  web_ui/packages/ui/theme/geti/theme.ts
  web_ui/packages/ui/theme/index.tsx
  web_ui/packages/ui/theme/queries.ts
  web_ui/packages/ui/tsconfig.json
  web_ui/src/assets/index.scss
  web_ui/src/pages/annotator/annotation/annotation-filter/annotation-filter-dialog.component.tsx
  web_ui/src/pages/annotator/components/footer/fps.component.tsx
  web_ui/src/pages/annotator/components/footer/media-item-image-metadata.component.tsx
  web_ui/src/pages/annotator/components/footer/media-item-video-metadata.component.tsx
  web_ui/src/pages/annotator/components/footer/project-name.component.tsx
  web_ui/src/pages/annotator/components/footer/training-progress/training-progress.component.tsx
  web_ui/src/pages/annotator/components/navigation-toolbar/navigation-breadcrumbs/tasks-breadcrumbs.component.tsx
  web_ui/src/pages/annotator/components/navigation-toolbar/navigation-toolbar.component.tsx
  web_ui/src/pages/annotator/components/secondary-toolbar/secondary-toolbar.component.tsx
  web_ui/src/pages/annotator/components/sidebar/sidebar.component.tsx
  web_ui/src/pages/annotator/providers/annotator-context-menu-provider/context-menu/context-menu.test.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-polygon/edit-points.test.tsx
  web_ui/src/pages/annotator/tools/ritm-tool/secondary-toolbar.component.tsx
  web_ui/src/pages/annotator/tools/segment-anything-tool/secondary-toolbar.component.tsx
  web_ui/src/pages/annotator/tools/ssim-tool/secondary-toolbar.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/secondary-toolbar.component.tsx
  web_ui/src/pages/create-project/components/pose-template/canvas/cursor-context-menu/cursor-context-menu.component.tsx
  web_ui/src/pages/create-project/components/select-project-template/select-project-template.component.tsx
  web_ui/src/pages/create-project/components/select-project-template/single-task-template.component.tsx
  web_ui/src/pages/create-project/components/select-project-template/task-chain-template.component.tsx
  web_ui/src/pages/create-project/import-project-panel.component.tsx
  web_ui/src/pages/create-project/new-project-dialog.component.tsx
  web_ui/src/pages/landing-page/landing-page-sidebar/landing-page-sidebar.component.tsx
  web_ui/src/pages/landing-page/landing-page-sidebar/organizations-picker/organizations-picker.test.tsx
  web_ui/src/pages/landing-page/landing-page-sidebar/storage-usage/storage-usage.component.tsx
  web_ui/src/pages/landing-page/landing-page-sidebar/storage-usage/storage-usage.test.tsx
  web_ui/src/pages/media/media-filter.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/export-import-dataset-buttons.test.tsx
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-statistics/training-model-info/training-model-info.test.tsx
  web_ui/src/pages/project-details/components/project-models/legacy-train-model-dialog/model-templates-selection/model-template/model-template.test.tsx
  web_ui/src/pages/project-details/components/project-test/media-items-bucket.component.tsx
  web_ui/src/providers/infrastructure-providers.component.tsx
  web_ui/src/providers/theme-provider.component.tsx
  web_ui/src/setupTests.tsx
  web_ui/src/shared/components/configurable-parameters/cp-item/cp-editable-item/cp-number/cp-number.component.tsx
  web_ui/src/shared/components/dataset-import-dnd/dataset-import-dnd.component.tsx
Labels: UI, ready for review

#256 ITEP-163854 - replace react virtuoso - p7
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/ui/src/virtualize-list-layout/virtualize-list-layout.tsx
  web_ui/src/pages/annotator/annotation/height-preserving-item.component.tsx
  web_ui/src/pages/annotator/annotation/height-preserving-item.module.scss
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/projects-list.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/landing-page-workspace.test.tsx
  web_ui/src/pages/project-details/components/project-media/upload-status-bar/upload-status-dialog/upload-status-dialog-content.component.tsx
  web_ui/src/setupTests.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs.module.scss
  web_ui/src/shared/components/header/jobs-management/virtualized-jobs-list.component.tsx
Labels: UI, ready for review

#264 Set version to 2.10.0
  Makefile.shared
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
  web_ui/package-lock.json
  web_ui/package.json
Labels: documentation, UI, IAI

#261 Reference base images in web ui dockerfile directly
  web_ui/Dockerfile
  web_ui/Makefile
Labels: UI, ready for review

#262 ITEP-64728 fix pv storage info
  interactive_ai/services/dataset_ie/chart/templates/deployment.yaml
  interactive_ai/services/dataset_ie/chart/values.yaml
  interactive_ai/services/director/chart/templates/deployment.yaml
  interactive_ai/services/director/chart/values.yaml
  interactive_ai/services/inference_gateway/chart/templates/deployment.yaml
  interactive_ai/services/inference_gateway/chart/values.yaml
  interactive_ai/services/media/chart/templates/deployment.yaml
  interactive_ai/services/media/chart/values.yaml
  interactive_ai/services/project_ie/chart/templates/deployment.yaml
  interactive_ai/services/project_ie/chart/values.yaml
  interactive_ai/services/resource/chart/templates/deployment.yaml
  interactive_ai/services/resource/chart/values.yaml
Labels: IAI

#269 :hotfix: Core package json
  web_ui/package-lock.json
  web_ui/packages/core/package.json
Labels: UI, ready for review

#260 ITEP-67586 workaround: use YOLOX as default detection model for Intel GPU
  interactive_ai/services/director/app/communication/main.py
  interactive_ai/services/director/app/environment/__init__.py
  interactive_ai/services/director/chart/templates/deployment.yaml
  interactive_ai/services/resource/app/environment/_environment.py
Labels: IAI

#270 fix(jest, CI): Support running tests in monorepo
  web_ui/jest.config.js
  web_ui/package.json
Labels: UI, ready for review

#267 ITEP-66906 - Remove limited text field
  web_ui/packages/ui/src/button/button.component.tsx
  web_ui/src/pages/create-project/components/name-project/name-project.component.tsx
  web_ui/src/pages/create-project/components/project-labels-management/task-labels-management/new-label-tree-item/label-tree-label.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/dataset-import-to-new-project/dataset-import-to-new-project-domain.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/components/project/components/project-action-menu/edit-project-name-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-sidebar/project-name-domain/project-name-domain.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/group-edition-mode/group-creation.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/group-edition-mode/group-edition-mode.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-edition-mode/name-edition-field/name-edition-field.component.tsx
  web_ui/src/shared/components/limited-text-field/limited-text-field.component.tsx
Labels: UI, ready for review

#150 ITEP-28186 Filter jobs by date
  web_ui/packages/ui/index.ts
  web_ui/packages/ui/src/corner-indicator/corner-indicator.component.tsx
  web_ui/src/pages/annotator/annotation/annotation-filter/annotation-filter-trigger.component.tsx
  web_ui/src/pages/annotator/components/sidebar/dataset/dataset-accordion.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.component.tsx
  web_ui/src/shared/components/header/jobs-management/date-range-picker-small/date-range-picker-small.component.tsx
  web_ui/src/shared/components/header/jobs-management/date-range-picker-small/date-range-picker-small.test.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-actions/jobs-dialog.interface.ts
  web_ui/src/shared/components/header/jobs-management/jobs-actions/jobs-filtering.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-actions/jobs-filtering.test.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-dialog.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-dialog.test.tsx
  web_ui/src/shared/components/refresh-button/refresh-button.component.tsx
  web_ui/src/shared/components/refresh-button/refresh-button.module.scss
Labels: UI, ready for review

#271 chore: Move test transformers to test config package
  web_ui/packages/config/test/jest.config.js
  web_ui/packages/config/test/transformers/babelTransform.js
  web_ui/packages/config/test/transformers/cssTransform.js
  web_ui/packages/config/test/transformers/fileTransform.js
Labels: UI, ready for review

#233 ITEP-32416 Add FP16 inference with feature flag
  interactive_ai/libs/iai_core_py/iai_core/repos/model_repo.py
  interactive_ai/libs/iai_core_py/tests/repos/test_model_repo.py
  interactive_ai/workflows/geti_domain/common/jobs_common/features/feature_flag_provider.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/mlflow/utils/train_output_models.py
  interactive_ai/workflows/geti_domain/train/job/tasks/evaluate_and_infer/evaluate_and_infer.py
  interactive_ai/workflows/geti_domain/train/job/tasks/prepare_and_train/train_helpers.py
  interactive_ai/workflows/geti_domain/train/tests/fixtures/train_workflow_data.py
  interactive_ai/workflows/geti_domain/train/tests/unit/tasks/evaluate_and_infer/test_evaluate_and_infer.py
  interactive_ai/workflows/geti_domain/train/tests/unit/tasks/prepare_and_train/test_train_helpers.py
  interactive_ai/workflows/geti_domain/train/tests/unit/workflows/test_train_workflow.py
Labels: ready for review, IAI

#277 ITEP-66302 Add more config with dependencies and scripts to `@geti/core` [PART 3]
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/core/geti-type.d.ts
  web_ui/packages/core/package.json
  web_ui/packages/core/tsconfig.json
Labels: UI, ready for review

#282 ITEP-67586 workaround: use YOLO-X as default model for detection autotraining [2.10]
  interactive_ai/services/director/app/usecases/auto_train/kafka_handler.py
Labels: IAI

#286 ITEP-67586 workaround: use YOLO-X as default model for detection autotraining [main]
  interactive_ai/services/director/app/usecases/auto_train/kafka_handler.py
Labels: IAI

#285 :chore: Project-thumbnail key
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/components/project/project-thumbnail.component.tsx
Labels: UI, ready for review

#272 ITEP-67616 add Dockerfile for XPU (Intel GPU) trainer
  .github/components-path-filters.yml
  interactive_ai/workflows/otx_domain/trainer/otx_v2/Dockerfile.gpu
  interactive_ai/workflows/otx_domain/trainer/otx_v2/Dockerfile.xpu
  interactive_ai/workflows/otx_domain/trainer/otx_v2/Makefile
  interactive_ai/workflows/otx_domain/trainer/otx_v2/pyproject.toml
  interactive_ai/workflows/otx_domain/trainer/otx_v2/uv.lock
Labels: IAI

#288 ITEP-66693: Merge templates interactive_ai/services/jobs to one single helm chart
  interactive_ai/services/jobs/chart/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/autoscaler.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/templates/serviceaccount.yaml
  interactive_ai/services/jobs/chart/charts/jobs-ms/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/service.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/templates/service_account.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduler/values.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/Chart.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/deployment.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/init-job.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/role.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/templates/service_account.yaml
  interactive_ai/services/jobs/chart/charts/jobs-scheduling-policy/values.yaml
  interactive_ai/services/jobs/chart/templates/_helpers.tpl
  interactive_ai/services/jobs/chart/templates/autoscaler.yaml
  interactive_ai/services/jobs/chart/templates/clusterrole.yaml
  interactive_ai/services/jobs/chart/templates/clusterrole_binding.yaml
  interactive_ai/services/jobs/chart/templates/deployment.yaml
  interactive_ai/services/jobs/chart/templates/destination_rule.yaml
  interactive_ai/services/jobs/chart/templates/http_route.yaml
  interactive_ai/services/jobs/chart/templates/init-job.yaml
  interactive_ai/services/jobs/chart/templates/jobs-templates-configmap.yaml
  interactive_ai/services/jobs/chart/templates/rate_limiter.yaml
  interactive_ai/services/jobs/chart/templates/role-binding.yaml
  interactive_ai/services/jobs/chart/templates/role.yaml
  interactive_ai/services/jobs/chart/templates/service.yaml
  interactive_ai/services/jobs/chart/templates/service_account.yaml
  interactive_ai/services/jobs/chart/templates/virtual_service.yaml
  interactive_ai/services/jobs/chart/values.yaml
Labels: IAI

#297 gh-295 Fix not begin able to load test results
  web_ui/src/core/media/media-filter.interface.ts
  web_ui/src/hooks/use-sorting-params/use-sorting-params.hook.ts
  web_ui/src/pages/media/media-actions/media-sorting.component.tsx
  web_ui/src/pages/project-details/components/project-test/media-items-bucket.component.tsx
  web_ui/src/pages/project-details/components/project-test/test-details-preview/test-details-preview.component.tsx
  web_ui/src/providers/media-upload-provider/use-media-upload-mutations.ts
  web_ui/tests/e2e/daily/card-suit-classification.spec.ts
  web_ui/tests/fixtures/page-objects/test-page.ts
Labels: UI, ready for review

#304 ITEP-67977 - version changed to 2.10.1
  Makefile.shared
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
  web_ui/package-lock.json
  web_ui/package.json
Labels: documentation, UI, IAI

#302 ITEP-67958 Update python-like licenses to current version
  interactive_ai/libs/iai_core_py/tests/entities/shapes/test_ellipse.py
  interactive_ai/libs/iai_core_py/tests/entities/shapes/test_polygon.py
  interactive_ai/libs/iai_core_py/tests/entities/shapes/test_rectangle.py
  interactive_ai/libs/iai_core_py/tests/entities/shapes/test_shape.py
  interactive_ai/libs/iai_core_py/tests/entities/test_metadata.py
  interactive_ai/libs/iai_core_py/tests/entities/test_scored_label.py
  interactive_ai/libs/iai_core_py/tests/entities/test_task_environment.py
  interactive_ai/migration_job/tests/unit/test_create_s3_bucket.py
  interactive_ai/tests/e2e/features/annotation.feature
  interactive_ai/tests/e2e/features/dataset_import_export.feature
  interactive_ai/tests/e2e/features/environment.py
  interactive_ai/tests/e2e/features/label_addition.feature
  interactive_ai/tests/e2e/features/label_deletion.feature
  interactive_ai/tests/e2e/features/obsolete_model.feature
  interactive_ai/tests/e2e/features/optimizing.feature
  interactive_ai/tests/e2e/features/project_import.feature
  interactive_ai/tests/e2e/features/project_removal.feature
  interactive_ai/tests/e2e/features/project_renaming.feature
  interactive_ai/tests/e2e/features/steps/annotation_management.py
  interactive_ai/tests/e2e/features/steps/dataset_import_export.py
  interactive_ai/tests/e2e/features/steps/error_handling.py
  interactive_ai/tests/e2e/features/steps/file_management.py
  interactive_ai/tests/e2e/features/steps/job_monitoring.py
  interactive_ai/tests/e2e/features/steps/label_management.py
  interactive_ai/tests/e2e/features/steps/media_management.py
  interactive_ai/tests/e2e/features/steps/model_mangement.py
  interactive_ai/tests/e2e/features/steps/optimization.py
  interactive_ai/tests/e2e/features/steps/predictions.py
  interactive_ai/tests/e2e/features/steps/project_import.py
  interactive_ai/tests/e2e/features/steps/project_management.py
  interactive_ai/tests/e2e/features/steps/static_definitions.py
  interactive_ai/tests/e2e/features/steps/training.py
  interactive_ai/tests/e2e/features/steps/workspace_management.py
  interactive_ai/tests/e2e/features/training.feature
Labels: IAI

#306 ITEP-67970 increase memory limits on weight uploader and user directory
  platform/services/user_directory/chart/values.yaml
  platform/services/weights_uploader/chart/templates/weight_uploader_job.yaml
Labels: Platform

#292 Make BDD tests compatible with workflow in release repo
  .github/components-path-filters.yml
  .github/workflows/bdd-stylecheck.yml
  interactive_ai/tests/e2e/Makefile
  interactive_ai/tests/e2e/pyproject.toml
Labels: IAI

#309 ITEP-32475: Remove media preprocessing migration backward compatibility code
  interactive_ai/libs/iai_core_py/iai_core/repos/mappers/mongodb_mappers/dataset_storage_filter_mapper.py
  interactive_ai/libs/iai_core_py/iai_core/repos/mappers/mongodb_mappers/media_mapper.py
  interactive_ai/services/resource/app/usecases/query_builder.py
Labels: IAI

#315 refactor: Move spectrum icons to `@geti/ui/icons`
  web_ui/eslint.config.js
  web_ui/package-lock.json
  web_ui/packages/ui/icons/index.ts
  web_ui/packages/ui/package.json
  web_ui/packages/ui/theme/color-mode.enum.ts
  web_ui/packages/ui/theme/index.tsx
  web_ui/src/intel-admin-app/pages/organization/organization-credit-accounts-table.component.tsx
  web_ui/src/intel-admin-app/pages/organization/organization-overview.component.tsx
  web_ui/src/pages/annotator/annotation/labels/annotation-actions.component.tsx
  web_ui/src/pages/annotator/components/labels/label-search/selection-indicator.component.tsx
  web_ui/src/pages/annotator/components/sidebar/toggle-sidebar-button.component.tsx
  web_ui/src/pages/camera-page/components/condensed-label-selector.component.tsx
  web_ui/src/pages/camera-page/components/label-selector.component.tsx
  web_ui/src/pages/camera-page/components/sidebar/sidebar.component.tsx
  web_ui/src/pages/create-project/components/project-labels-management/select-domain-button.component.tsx
  web_ui/src/pages/errors/general-error-screen/general-error-screen.component.tsx
  web_ui/src/pages/errors/login-error/login-error-screen.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/dataset-import-to-new-project/dataset-import-to-new-project-labels.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/dataset-import-to-new-project/dataset-import-to-new-project-wizard.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/export-dataset-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.component.tsx
  web_ui/src/pages/project-details/components/project-media/project-media-filter-status-list.component.tsx
  web_ui/src/pages/project-details/components/project-media/upload-status-bar/upload-status-dialog/upload-status-dialog-item.component.tsx
  web_ui/src/pages/user-management/usage/month-picker/month-calendar.component.tsx
  web_ui/src/pages/user-management/usage/month-picker/month-picker.component.tsx
  web_ui/src/pages/user-management/usage/time-credit-consumption-card.component.tsx
  web_ui/src/pages/user-management/users/users-table/user-name-cell/user-name-cell.component.tsx
  web_ui/src/shared/components/dataset-import-panel/dataset-import-panel.component.tsx
  web_ui/src/shared/components/dataset-import-warnings/dataset-import-warnings.component.tsx
  web_ui/src/shared/components/header/header-actions/user-actions/user-actions.component.tsx
  web_ui/src/shared/components/header/jobs-management/date-range-picker-small/date-range-picker-small.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-list-item-progress.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/item-edition-state/item-edition-state.component.tsx
  web_ui/src/shared/components/not-found/not-found.component.tsx
Labels: UI, ready for review

#299 ITEP-32485: Remove thumbnail generation fallback logic in Media Microservice
  interactive_ai/services/media/app/usecase/get_thumbnail.go
  interactive_ai/services/media/app/usecase/get_thumbnail_test.go
  interactive_ai/services/media/go.mod
  interactive_ai/services/media/main.go
Labels: IAI

#332 :chores: Prevent loading overlay
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.component.tsx
Labels: UI, ready for review

#317 ITEP-32064 descriptive container image descriptions
  Makefile.shared
  Makefile.shared-python
  dev_tools/builder_images/Makefile.shared-builders
  dev_tools/builder_images/go-builder/Makefile
  dev_tools/builder_images/python-builder/Makefile
  interactive_ai/services/inference_gateway/Makefile
  interactive_ai/services/media/Makefile
  interactive_ai/workflows/otx_domain/trainer/otx_v2/Makefile
  platform/services/account/Makefile
  platform/services/auth_proxy/Makefile
  platform/services/weights_uploader/pyproject.toml
  web_ui/Makefile
  web_ui/dex_templates/Makefile
Labels: UI, IAI, Platform

#183 Enable dynamic versioning for Helm charts
  .github/workflows/component.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  Makefile.build
  Makefile.shared
  interactive_ai/migration_job/chart/Chart.yaml.template
  interactive_ai/services/auto_train/chart/Chart.yaml.template
  interactive_ai/services/dataset_ie/chart/Chart.yaml.template
  interactive_ai/services/director/chart/Chart.yaml.template
  interactive_ai/services/inference_gateway/chart/Chart.yaml.template
  interactive_ai/services/jobs/chart/Chart.yaml.template
  interactive_ai/services/media/chart/Chart.yaml.template
  interactive_ai/services/mlflow_geti_store/chart/Chart.yaml.template
  interactive_ai/services/model_registration/chart/Chart.yaml.template
  interactive_ai/services/project_ie/chart/Chart.yaml.template
  interactive_ai/services/resource/chart/Chart.yaml.template
  interactive_ai/services/visual_prompt/chart/Chart.yaml.template
  interactive_ai/workflows/geti_domain/common/Makefile
  interactive_ai/workflows/geti_domain/dataset_ie/Makefile
  interactive_ai/workflows/geti_domain/optimize/Makefile
  interactive_ai/workflows/geti_domain/train/Makefile
  interactive_ai/workflows/otx_domain/trainer/otx_v2/Makefile
  platform/services/account/chart/Chart.yaml.template
  platform/services/auth_proxy/chart/Chart.yaml.template
  platform/services/credit/chart/Chart.yaml.template
  platform/services/initial_user/chart/Chart.yaml.template
  platform/services/notifier/chart/Chart.yaml.template
  platform/services/observability/chart/Chart.yaml.template
  platform/services/onboarding/chart/Chart.yaml.template
  platform/services/platform_cleaner/chart/Chart.yaml.template
  platform/services/user_directory/chart/Chart.yaml.template
  platform/services/weights_uploader/chart/Chart.yaml.template
  web_ui/chart/Chart.yaml.template
Labels: UI, IAI, Platform

#353 Refactor of ModelInfoFields component
  web_ui/src/pages/project-details/components/project-models/models-container/model-card/model-info-fields.component.tsx
  web_ui/src/pages/project-details/components/project-models/models-container/training-model-card/training-model-card.test.tsx
Labels: UI

#354 Version bumped up to 2.11.0
  VERSION
  charts/geti-components/Chart.yaml
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
  web_ui/package-lock.json
  web_ui/package.json
Labels: documentation, UI, IAI

#360 ITEP-36150 Redundant call to setErrorResponse removed
  platform/services/auth_proxy/app/request_processor/common.go
Labels: Platform

#357 ITEP-59431 Disable telemetry for lite installation
  web_ui/src/analytics/analytics-provider.component.tsx
  web_ui/src/core/platform-utils/hooks/use-gpu-provider.hook.ts
  web_ui/src/core/platform-utils/hooks/use-platform-utils.hook.ts
  web_ui/src/core/platform-utils/hooks/use-platform-utils.test.tsx
  web_ui/src/pages/about-page/about-page.component.test.tsx
  web_ui/src/pages/about-page/about-page.component.tsx
  web_ui/src/pages/analytics/analytics.component.tsx
  web_ui/src/pages/user-management/users/header.component.tsx
  web_ui/src/pages/user-management/users/workspace-users/actions/workspace-user-actions.test.tsx
  web_ui/src/providers/installation-mode-provider.component.tsx
  web_ui/src/routes/app-routes.component.tsx
Labels: UI, ready for review

#358 fix: Check value of data instead of current in `useDeploymentConfig`
  web_ui/packages/core/src/services/use-deployment-config-query.hook.test.tsx
Labels: UI, ready for review

#365 Deleted unused files
  platform/services/account/tests/requirements-lock.txt
  platform/services/account/tests/requirements.txt
Labels: Platform
