Repository open-edge-platform/geti, pull requests merged in 2025-07, with the labels that each got.

#594 ITEP-71148 API docs: merge code deployment categories
  docs/rest_api/endpoints/code_deployment/download_code_deployment_endpoint.yaml
  docs/rest_api/endpoints/code_deployment/download_deployment_package_endpoint.yaml
  docs/rest_api/endpoints/code_deployment/get_code_deployment_detail_endpoint.yaml
  docs/rest_api/endpoints/code_deployment/prepare_code_deployment_endpoint.yaml
  docs/rest_api/examples/code_deployment/error_responses/invalid_package_type.json
  docs/rest_api/examples/code_deployment/requests/deployment_package_request_geti_sdk.json
  docs/rest_api/examples/code_deployment/requests/deployment_package_request_ovms.json
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
  interactive_ai/services/resource/tests/test_documentation.py
Labels: documentation, IAI

#578 ITEP-70997 - keypoint detection hotkeys
  web_ui/src/pages/annotator/annotation/pose-list/pose-list-actions.component.tsx
  web_ui/src/pages/annotator/annotation/pose-list/pose-list-actions.test.tsx
  web_ui/src/pages/annotator/components/primary-toolbar/hot-keys-button/hot-keys-list/hot-keys-list.component.tsx
Labels: UI, ready for review

#597 update
  platform/services/config/chart/templates/configuration.yaml
  platform/services/geti_controller/app/platform_operations/backup.py
  platform/services/geti_controller/chart/values.yaml
Labels: Platform

#580 ITEP-32009 Unit tests for training dialog
  web_ui/src/core/configurable-parameters/services/in-memory-api-model-config-parameters-service.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/filters/filters-options.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#592 ITEP-71023 auth proxy CI
  .github/components-path-filters.yml
  platform/services/auth_proxy/app/http/http_server.go
  platform/services/auth_proxy/app/jwk/keys_provider_test.go
  platform/services/auth_proxy/app/request_processor/common.go
  platform/services/auth_proxy/app/request_processor/config_test.go
  platform/services/auth_proxy/app/request_processor/grpc_server.go
Labels: Platform

#598 ITEP-71066 - disable single point template
  web_ui/src/pages/create-project/utils.ts
  web_ui/tests/features/project-creation/keypoint-detection.spec.ts
Labels: UI, ready for review

#588 Improve corrupt video detection
  interactive_ai/libs/media_utils/media_utils/video_file_repair.py
  interactive_ai/libs/media_utils/tests/integration/test_video_file_repair.py
  interactive_ai/services/resource/chart/templates/deployment.yaml
Labels: IAI

#497 ITEP-32067 - Add backward compatibility for configurations
  interactive_ai/libs/iai_core_py/iai_core/entities/model_storage.py
  interactive_ai/libs/iai_core_py/iai_core/repos/mappers/mongodb_mappers/model_storage_mapper.py
  interactive_ai/services/director/app/communication/backward_compatibility/__init__.py
  interactive_ai/services/director/app/communication/backward_compatibility/configurations.py
  interactive_ai/services/director/app/communication/controllers/configuration_controller.py
  interactive_ai/services/director/app/communication/controllers/project_configuration_controller.py
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/communication/endpoints/project_configuration_endpoints.py
  interactive_ai/services/director/app/communication/endpoints/training_configuration_endpoints.py
  interactive_ai/services/director/app/communication/views/project_configuration_rest_views.py
  interactive_ai/services/director/app/configuration/configuration_manager.py
  interactive_ai/services/director/app/configuration/configuration_validator.py
  interactive_ai/services/director/app/entities/training_config.py
  interactive_ai/services/director/app/storage/repos/project_configuration_repo.py
  interactive_ai/services/director/tests/fixtures/backward_compatibility_configuration.py
  interactive_ai/services/director/tests/fixtures/project_configuration.py
  interactive_ai/services/director/tests/unit/communication/backward_compatibility/test_configuration.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_configuration_controller.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_project_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/communication/rest_endpoints/test_training_configuration_endpoints.py
  interactive_ai/services/director/tests/unit/configuration/test_configuration_manager.py
  libs/configuration_tools/src/geti_configuration_tools/hyperparameters/hyperparameters.py
  libs/configuration_tools/src/geti_configuration_tools/project_configuration.py
  libs/configuration_tools/tests/test_project_configuration.py
Labels: IAI

#608 ITEP-71242 bugfix: cannot import deployment client
  interactive_ai/tests/e2e/features/environment.py
Labels: IAI

#523 :chore: Move utils in preparation for ritm migration
  web_ui/package-lock.json
  web_ui/packages/smart-tools/index.ts
  web_ui/packages/smart-tools/package.json
  web_ui/packages/smart-tools/src/shared/interfaces.ts
  web_ui/packages/smart-tools/src/utils/utils.ts
  web_ui/src/pages/annotator/hooks/use-interactive-segmentation.hook.ts
  web_ui/src/pages/annotator/tools/ritm-tool/ritm-tool.interface.ts
  web_ui/src/pages/annotator/tools/segment-anything-tool/model/session.ts
  web_ui/src/webworkers/ritm.worker.ts
  web_ui/src/webworkers/utils.ts
Labels: UI, ready for review

#538 ITEP-70591: Remove MLFlow sidecar from OTX trainer pod
  .github/components-path-filters.yml
  deploy/charts/geti-components/chart/Chart.yaml.template
  deploy/charts/geti-components/chart/charts/jobs-execution-namespace/templates/training-configuration.yaml
  deploy/charts/geti-components/chart/charts/jobs-execution-namespace/values.yaml
  deploy/charts/geti-components/chart/values.yaml
  interactive_ai/services/mlflow_geti_store/.dockerignore
  interactive_ai/services/mlflow_geti_store/Dockerfile
  interactive_ai/services/mlflow_geti_store/Makefile
  interactive_ai/services/mlflow_geti_store/chart/Chart.yaml.template
  interactive_ai/services/mlflow_geti_store/entrypoints/check_liveliness
  interactive_ai/services/mlflow_geti_store/entrypoints/gunicorn.conf.py
  interactive_ai/services/mlflow_geti_store/entrypoints/run
  interactive_ai/services/mlflow_geti_store/entrypoints/run_with_liveliness_checking
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/__init__.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/artifact_model.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/artifact_store.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/s3_object_storage_client.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/tracking_manager.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/tracking_model.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/tracking_store.py
  interactive_ai/services/mlflow_geti_store/mlflow_geti_store/utils.py
  interactive_ai/services/mlflow_geti_store/pyproject.toml
  interactive_ai/services/mlflow_geti_store/tests/__init__.py
  interactive_ai/services/mlflow_geti_store/tests/conftest.py
  interactive_ai/services/mlflow_geti_store/tests/integration/__init__.py
  interactive_ai/services/mlflow_geti_store/tests/integration/conftest.py
  interactive_ai/services/mlflow_geti_store/tests/integration/test_artifact_store.py
  interactive_ai/services/mlflow_geti_store/tests/integration/test_tracking_store.py
  interactive_ai/services/mlflow_geti_store/tests/unit/__init__.py
  interactive_ai/services/mlflow_geti_store/tests/unit/test_artifact_model.py
  interactive_ai/services/mlflow_geti_store/tests/unit/test_s3_object_storage_client.py
  interactive_ai/services/mlflow_geti_store/tests/unit/test_tracking_model.py
  interactive_ai/services/mlflow_geti_store/uv.lock
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_image_info.py
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_pod_definition.py
  interactive_ai/workflows/geti_domain/common/jobs_common/tasks/primary_container_task.py
  interactive_ai/workflows/geti_domain/common/tests/unit/k8s_helpers/test_trainer_image_info.py
  interactive_ai/workflows/geti_domain/optimize/tests/conftest.py
  platform/services/config/chart/templates/configuration.yaml
Labels: IAI, Platform

#481 Save last visited workspace and open it as a default
  web_ui/src/hooks/use-last-workspace/use-last-workspace.hook.ts
  web_ui/src/providers/workspaces-provider/use-workspace-identifier.hook.ts
  web_ui/src/routes/redirect.component.tsx
  web_ui/src/shared/local-storage-keys.ts
Labels: UI, ready for review

#593 ITEP-71103 - Issue after resetting KP template
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/edit-keypoint-tool.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/edit-pose-point.component.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/keypoint-tool.component.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/utils.ts
  web_ui/src/pages/create-project/components/pose-template/template-manager.component.tsx
  web_ui/src/pages/utils.ts
  web_ui/tests/features/project-template/project-template.spec.ts
Labels: UI, ready for review

#607 Bump version to 2.12.0
  VERSION
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
  web_ui/package-lock.json
  web_ui/package.json
Labels: documentation, UI, IAI

#606 ITEP-70724 - Remove FEATURE_FLAG_CLASSIFICATION_RANGES
  deploy/charts/geti-components/chart/charts/jobs-execution-namespace/values.yaml
  deploy/charts/istio/gateway/chart/values.yaml
  platform/services/config/chart/values.yaml
  web_ui/packages/core/src/feature-flags/services/feature-flag-service.interface.ts
  web_ui/src/pages/project-details/components/project-media/media-item-actions/media-item-actions.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-item-actions/media-item-actions.test.tsx
Labels: UI, ready for review, Platform

#613 ITEP-71154 - Add input_size training parameter
  interactive_ai/services/director/app/communication/exceptions.py
  interactive_ai/services/director/app/communication/views/configurable_parameters_to_rest.py
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  libs/configuration_tools/src/geti_configuration_tools/hyperparameters/hyperparameters.py
  libs/configuration_tools/src/geti_configuration_tools/utils.py
  libs/configuration_tools/tests/test_hyperparameters.py
  libs/configuration_tools/tests/test_training_configuration.py
Labels: IAI

#617 ITEP-69335 - Update auto-train service for configuration revamp
  interactive_ai/libs/iai_core_py/iai_core/entities/model_storage.py
  interactive_ai/services/auto_train/app/controller.py
  interactive_ai/services/auto_train/app/entities.py
  interactive_ai/services/auto_train/app/repos/__init__.py
  interactive_ai/services/auto_train/app/repos/auto_train_activation_repo.py
  interactive_ai/services/auto_train/app/repos/mappers/__init__.py
  interactive_ai/services/auto_train/app/repos/mappers/auto_train_activation_mapper.py
  interactive_ai/services/auto_train/app/repos/mappers/partial_training_configuration_mapper.py
  interactive_ai/services/auto_train/app/repos/partial_training_configuration_repo.py
  interactive_ai/services/auto_train/pyproject.toml
  interactive_ai/services/auto_train/tests/fixtures/general.py
  interactive_ai/services/auto_train/tests/fixtures/training_configuration.py
  interactive_ai/services/auto_train/tests/integration/test_controller_loop_integration.py
  interactive_ai/services/auto_train/tests/unit/test_auto_train_activation_mapper.py
  interactive_ai/services/auto_train/tests/unit/test_auto_train_activation_repo.py
  interactive_ai/services/auto_train/tests/unit/test_controller.py
  interactive_ai/services/auto_train/tests/unit/test_partial_training_configuration_repo.py
  interactive_ai/services/auto_train/uv.lock
  interactive_ai/services/director/app/communication/controllers/project_configuration_controller.py
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/configuration/configuration_manager.py
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/app/service/utils.py
  interactive_ai/services/director/tests/unit/service/test_configuration_service.py
  interactive_ai/services/director/tests/unit/service/test_utils.py
  libs/configuration_tools/src/geti_configuration_tools/__init__.py
  libs/configuration_tools/src/geti_configuration_tools/configuration_overlay_tools.py
  libs/configuration_tools/tests/test_configuration_overlay_tools.py
Labels: IAI

#586 ITEP-70807: fix bdd test delete project
  interactive_ai/tests/e2e/features/environment.py
Labels: IAI

#628 ITEP-71266 - Occluded tooltip
  web_ui/src/pages/annotator/annotation/pose-list/pose-list-actions.component.tsx
  web_ui/src/pages/annotator/annotation/shapes/pose-keypoints.component.tsx
  web_ui/src/pages/annotator/annotation/shapes/pose-keypoints.test.tsx
Labels: UI, ready for review

#611 ITEP-70674: Dataset sharding step fails to shutdown properly
  interactive_ai/workflows/geti_domain/common/jobs_common/tasks/primary_container_task.py
  libs/kafka_tools/src/geti_kafka_tools/__init__.py
  libs/kafka_tools/src/geti_kafka_tools/event_production.py
  libs/kafka_tools/tests/test_event_production.py
  libs/telemetry_tools/src/geti_telemetry_tools/__init__.py
  libs/telemetry_tools/src/geti_telemetry_tools/tracing/common.py
Labels: IAI

#516 ITEP-43416: Properly serialize project id in jobs ms
  interactive_ai/data_migration/migration/changelog/31.json
  interactive_ai/data_migration/migration/metadata/jobs_project_id_as_object_id.json
  interactive_ai/data_migration/migration/scripts/jobs_project_id_as_object_id.py
  interactive_ai/data_migration/tests/scripts/test_jobs_project_id_as_object_id.py
  interactive_ai/libs/iai_core_py/iai_core/versioning/data_version.txt
  interactive_ai/services/jobs/app/microservice/job_manager.py
  interactive_ai/services/jobs/tests/unit/microservice/test_job_manager.py
Labels: IAI

#629 [RELEASE] ITEP-71103 - Issue after resetting KP template
  web_ui/src/hooks/use-is-pressed/use-is-pressed.hook.ts
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/edit-keypoint-tool.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/edit-pose-point.component.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/keypoint-tool.component.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/utils.ts
  web_ui/src/pages/create-project/components/pose-template/canvas/canvas-template.component.tsx
  web_ui/src/pages/create-project/components/pose-template/template-manager.component.tsx
  web_ui/src/pages/utils.ts
  web_ui/tests/features/project-template/project-template.spec.ts
Labels: UI, ready for review

#627 ITEP-71266 - Duplicate label error
  web_ui/src/pages/create-project/components/pose-template/canvas/canvas-template.component.tsx
Labels: UI, ready for review

#619 ITEP-66305 - Move grabcut to smart-tools
  web_ui/packages/smart-tools/index.ts
  web_ui/packages/smart-tools/src/grabcut/grabcut.ts
  web_ui/packages/smart-tools/src/grabcut/interfaces.ts
  web_ui/packages/smart-tools/src/utils/tool-utils.ts
  web_ui/src/hooks/use-load-ai-webworker/load-webworker.interface.ts
  web_ui/src/hooks/use-load-ai-webworker/use-load-ai-webworker.hook.ts
  web_ui/src/pages/annotator/hooks/use-grabcut.hook.ts
  web_ui/src/pages/annotator/hooks/use-interactive-segmentation.hook.ts
  web_ui/src/pages/annotator/tools/grabcut-tool/grabcut-tool.interface.ts
  web_ui/src/pages/annotator/tools/utils.ts
  web_ui/src/webworkers/grabcut.worker.ts
  web_ui/src/webworkers/utils.ts
Labels: UI, ready for review

#550 ITEP-70869: Remove MLFlow mentioning from interactive_ai/services components and Geti domain workflows
  .github/components-path-filters.yml
  interactive_ai/services/auto_train/app/controller.py
  interactive_ai/services/auto_train/app/job_creation_helpers.py
  interactive_ai/services/auto_train/tests/integration/test_controller_loop_integration.py
  interactive_ai/services/director/app/service/job_submission/job_creation_helpers.py
  interactive_ai/services/director/app/service/job_submission/train.py
  interactive_ai/services/resource/app/communication/kafka_handlers/miscellaneous_kafka_handler.py
  interactive_ai/services/resource/app/repos/artifact_repo.py
  interactive_ai/services/resource/tests/unit/entities/test_artifact_repo.py
  interactive_ai/workflows/geti_domain/common/jobs_common/k8s_helpers/trainer_pod_definition.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/__init__.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/adapters/__init__.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/adapters/definitions.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/adapters/metrics_mapper.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/adapters/ml_artifacts.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/repos/__init__.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/repos/binary_repo.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/utils/__init__.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/experiments/utils/train_output_models.py
  interactive_ai/workflows/geti_domain/common/jobs_common_extras/shard_dataset/commands/upload_shard_file_command.py
  interactive_ai/workflows/geti_domain/common/tests/unit/extras/mlflow/test_adapters.py
  interactive_ai/workflows/geti_domain/common/tests/unit/extras/shard_dataset/commands/test_upload_shard_file_command.py
  interactive_ai/workflows/geti_domain/optimize/job/tasks/evaluation_task.py
  interactive_ai/workflows/geti_domain/optimize/job/tasks/helpers.py
  interactive_ai/workflows/geti_domain/optimize/job/workflows/optimize_workflow.py
  interactive_ai/workflows/geti_domain/optimize/tests/unit/tasks/test_evaluation_task.py
  interactive_ai/workflows/geti_domain/optimize/tests/unit/tasks/test_helpers.py
  interactive_ai/workflows/geti_domain/optimize/tests/unit/workflows/test_optimize_workflow.py
  interactive_ai/workflows/geti_domain/train/job/tasks/evaluate_and_infer/evaluate_and_infer.py
  interactive_ai/workflows/geti_domain/train/job/tasks/prepare_and_train/prepare_data_and_train.py
  interactive_ai/workflows/geti_domain/train/job/tasks/prepare_and_train/train_helpers.py
  interactive_ai/workflows/geti_domain/train/job/utils/train_workflow_data.py
  interactive_ai/workflows/geti_domain/train/job/workflows/train_workflow.py
  interactive_ai/workflows/geti_domain/train/tests/fixtures/train_workflow_data.py
  interactive_ai/workflows/geti_domain/train/tests/unit/tasks/evaluate_and_infer/test_evaluate_and_infer.py
  interactive_ai/workflows/geti_domain/train/tests/unit/tasks/prepare_and_train/test_train_helpers.py
  interactive_ai/workflows/geti_domain/train/tests/unit/workflows/test_train_workflow.py
  third-party-programs.txt
Labels: IAI

#631 ITEP-71266 - duplicate project names
  web_ui/src/pages/create-project/components/pose-template/hooks/use-get-projects-templates.hook.test.ts
  web_ui/src/pages/create-project/components/pose-template/hooks/use-get-projects-templates.hook.ts
  web_ui/src/pages/create-project/components/pose-template/templates/templates.component.tsx
  web_ui/src/pages/create-project/components/pose-template/templates/utils.ts
Labels: UI, ready for review

#636 ITEP-70724 - Remove FEATURE_FLAG_OVMS_DEPLOYMENT_PACKAGE
  deploy/charts/geti-components/chart/charts/jobs-execution-namespace/values.yaml
  deploy/charts/istio/gateway/chart/values.yaml
  platform/services/config/chart/values.yaml
  web_ui/packages/core/src/feature-flags/services/feature-flag-service.interface.ts
  web_ui/src/pages/project-details/components/project-deployments/download-dialog-single-task.component.tsx
  web_ui/src/pages/project-details/components/project-deployments/download-dialog-single-task.test.tsx
  web_ui/src/pages/project-details/components/project-deployments/download-dialog-task-chain.component.tsx
  web_ui/src/pages/project-details/components/project-deployments/download-dialog-task-chain.test.tsx
Labels: UI, ready for review, Platform

#557 Add 3pp licenses for Go services
  interactive_ai/services/inference_gateway/Dockerfile
  interactive_ai/services/media/Dockerfile
  platform/services/account/Dockerfile
  platform/services/auth_proxy/Dockerfile
Labels: IAI, Platform

#645 ITEP-71555 Rebuild dex_templates when needed
  .github/components-path-filters.yml
  web_ui/dex_templates/Makefile
Labels: UI

#648 Split input_size to input_size_width and input_size_height
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  libs/configuration_tools/src/geti_configuration_tools/hyperparameters/hyperparameters.py
  libs/configuration_tools/tests/test_hyperparameters.py
  libs/configuration_tools/tests/test_training_configuration.py
Labels: IAI

#657 ITEP-32724 implement upgrade
  deploy/charts/geti-tools/chart/charts/seaweed-fs/templates/create-buckets-job.yaml
  deploy/charts/geti-tools/chart/charts/seaweed-fs/templates/service_account.yaml
  deploy/charts/geti-tools/chart/charts/seaweed-fs/templates/statefulset.yaml
  deploy/charts/geti-tools/chart/charts/seaweed-fs/values.yaml
  deploy/charts/istio/gateway/chart/templates/custom_tls_secret.yaml
  deploy/geti_manifest/geti-manifest.yaml.template
  interactive_ai/migration_job/chart/templates/migration-job.yaml
  interactive_ai/services/auto_train/chart/templates/init-job.yaml
  interactive_ai/services/dataset_ie/chart/templates/init-job.yaml
  interactive_ai/services/director/chart/templates/init-job.yaml
  interactive_ai/services/jobs/chart/templates/init-job.yaml
  interactive_ai/services/project_ie/chart/templates/init-job.yaml
  interactive_ai/services/resource/chart/templates/init-job.yaml
  interactive_ai/services/visual_prompt/chart/templates/init-job.yaml
  platform/services/account/chart/templates/init-job.yaml
  platform/services/geti_controller/app/constants/__init__.py
  platform/services/geti_controller/app/constants/platform.py
  platform/services/geti_controller/app/platform_operations/backup.py
  platform/services/geti_controller/app/platform_operations/cluster.py
  platform/services/geti_controller/app/rest/endpoints/check_installation_upgrade_progress.py
  platform/services/geti_controller/app/rest/endpoints/install.py
  platform/services/geti_controller/app/rest/endpoints/upgrade.py
  platform/services/geti_controller/app/rest/schema/check_installation_upgrade_progress.py
  platform/services/geti_controller/chart/files/rules.yaml
  platform/services/geti_controller/chart/templates/cr-version.yaml
  platform/services/geti_controller/chart/templates/secret.yaml
  platform/services/initial_user/chart/templates/job.yaml
  platform/services/install_upgrade/Makefile
  platform/services/install_upgrade/app/job.py
  platform/services/weights_uploader/chart/templates/weight_uploader_job.yaml
Labels: IAI, Platform

#653 :fix: Update submit button tooltip alignment
  web_ui/src/pages/annotator/components/secondary-toolbar/secondary-toolbar.component.tsx
Labels: UI, ready for review

#665 ITEP-71730 - Disallow selecting label
  web_ui/src/pages/project-details/components/project-test/test-media-container.component.tsx
  web_ui/src/pages/project-details/components/project-test/test-media-container.test.tsx
Labels: UI, ready for review

#556 ITEP-68660 switch to online k3s installation
  platform/services/installer/app/k3s/config.py
  platform/services/installer/app/k3s/install.py
  platform/services/installer/app/system-packages.yaml
Labels: Platform

#670 ITEP-71484 Add unit test to check that the tooltip is displayed after hovering Model score info button
  web_ui/src/pages/project-details/components/project-test/test-details.test.tsx
Labels: UI, ready for review

#664 :chore: Update api spec
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/core/server/generated/api-spec.json
  web_ui/src/core/server/generated/schemas.ts
Labels: UI, ready for review

#682 ITEP-71848 Add version command
  platform/services/installer/app/commands/version.py
  platform/services/installer/app/platform_installer.py
Labels: Platform

#687 ITEP-71792 Confirmation screen changes
  platform/services/installer/app/commands/install.py
  platform/services/installer/app/texts/install_command.py
Labels: Platform

#691 ITEP-71107 - keypoint shadown
  web_ui/src/pages/annotator/annotation/shapes/pose-edges.component.tsx
  web_ui/src/pages/annotator/annotation/shapes/pose-keypoints.component.tsx
  web_ui/src/pages/annotator/annotation/shapes/util.ts
Labels: UI, ready for review

#704 ITEP-71847 default image repository
  platform/services/installer/app/commands/install.py
  platform/services/installer/app/constants/platform.py
  platform/services/installer/app/texts/install_command.py
Labels: Platform

#696 chore: Sort by algorithms
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/model-architectures/model-architectures-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/model-architectures/model-architectures-main-content.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/model-architectures/model-architectures.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/model-architectures/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-types-list.component.tsx
Labels: UI, ready for review

#547 Add manifest files for all tasks
  interactive_ai/supported_models/geti_supported_models/manifests/anomaly/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/anomaly/padim.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/anomaly/stfpm.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/anomaly/uflow.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/deit_tiny.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/efficientnet_b0.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/efficientnet_b3.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/efficientnet_v2_l.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/efficientnet_v2_s.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/mobilenet_v3_large.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/classification/mobilenet_v3_small.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/atss_mobilenetv2.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/atss_resnext101.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/dfine_x.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/rtdetr_101.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/rtdetr_18.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/rtdetr_50.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/rtmdet_tiny.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/ssd_mobilenetv2.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/yolox_l.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/yolox_s.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/yolox_t.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/yolox_x.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_r50_v1.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_r50_v2.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_swin_t.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/rtmdet_tiny.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/keypoint_detection/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/keypoint_detection/rtmpose.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_efficientnetb2b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_r50_v1.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_r50_v2.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/dinov2_s.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/litehrnet_18.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/litehrnet_18_obsolete.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/litehrnet_s.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/litehrnet_x.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/segnext_b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/segnext_s.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/segnext_t.yaml
Labels: IAI

#693 ITEP-32009 Unit tests for training flow revamp [PART 2]
  web_ui/packages/ui/src/toggle-buttons/toggle-buttons.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/model-data-management-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-augmentation/data-augmentation.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/filters/filters-options.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/filters/filters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/filters/filters.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/tiling.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/tiling/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/subsets-distribution-slider/subsets-distribution-slider.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/evaluation/evaluation.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/fine-tune-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/fine-tune-parameters.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/accordion/accordion.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/number-parameter-field.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
  web_ui/src/pages/project-details/components/project-tests/quick-inference/quick-inference.test.tsx
Labels: UI, ready for review

#754 ITEP-67407: Update REST API docs when async media preprocessing is enabled
  docs/rest_api/endpoints/media/download_image_thumbnail_endpoint.yaml
  docs/rest_api/endpoints/media/download_video_frame_thumbnail_endpoint.yaml
  docs/rest_api/endpoints/media/download_video_thumbnail_endpoint.yaml
  docs/rest_api/endpoints/media/download_video_thumbnail_stream_endpoint.yaml
  docs/rest_api/endpoints/media/images_endpoint.yaml
  docs/rest_api/endpoints/media/videos_endpoint.yaml
  docs/rest_api/examples/media/error_responses/media_is_not_preprocessed.json
Labels: documentation, IAI

#707 ITEP-68043 - dataset loader
  web_ui/src/pages/camera-page/components/action-buttons/accept-button.component.tsx
  web_ui/src/pages/camera-page/components/action-buttons/accept-button.test.tsx
  web_ui/src/pages/camera-page/components/action-buttons/action-buttons.component.tsx
  web_ui/src/pages/camera-page/components/loader-managers/dataset-loader-manager.component.tsx
  web_ui/src/pages/camera-page/components/loader-managers/dataset-loader-manager.test.tsx
  web_ui/src/pages/project-details/components/project-media/project-media.component.tsx
Labels: UI, ready for review

#811 787 - Move media-preview-list component to shared folder
  web_ui/src/pages/camera-page/components/camera-page.module.scss
  web_ui/src/pages/camera-page/components/sidebar/animated-thumbnail.tsx
  web_ui/src/pages/camera-page/components/sidebar/thumbnail-preview.component.tsx
  web_ui/src/pages/camera-page/media-gallery/components/media-item.test.tsx
  web_ui/src/pages/camera-page/media-gallery/components/media-list.test.tsx
  web_ui/src/pages/camera-page/media-gallery/media-gallery.component.tsx
  web_ui/src/pages/project-details/components/project-media/media-content-bucket.component.tsx
  web_ui/src/shared/components/media-preview-list/condensed-label-selector.component.tsx
  web_ui/src/shared/components/media-preview-list/delete-item-button.component.tsx
  web_ui/src/shared/components/media-preview-list/delete-item-button.test.tsx
  web_ui/src/shared/components/media-preview-list/image-overlay.component.tsx
  web_ui/src/shared/components/media-preview-list/image-overlay.test.tsx
  web_ui/src/shared/components/media-preview-list/image-video-factory.component.tsx
  web_ui/src/shared/components/media-preview-list/media-item-context-menu.component.tsx
  web_ui/src/shared/components/media-preview-list/media-item-context-menu.test.tsx
  web_ui/src/shared/components/media-preview-list/media-item.component.tsx
  web_ui/src/shared/components/media-preview-list/media-item.module.scss
  web_ui/src/shared/components/media-preview-list/media-preview-list.component.tsx
  web_ui/src/shared/components/media-preview-list/media-preview-list.module.scss
  web_ui/src/shared/components/media-preview-list/util.ts
  web_ui/src/webworkers/camera.worker.ts
Labels: UI, ready for review

#757 refactor: Don't pass `task_id` as query parameter while updating `project_configuration`
  web_ui/src/core/configurable-parameters/hooks/use-project-configuration.hook.ts
  web_ui/src/core/configurable-parameters/services/api-model-config-parameters-service.ts
  web_ui/src/shared/components/header/active-learning-configuration/use-active-learning-configuration.hook.ts
Labels: UI, ready for review

#708 ITEP-71337: add include models query parameter to project export endpoint
  docs/rest_api/endpoints/project_import_export/project_export_endpoint.yaml
  docs/rest_api/parameters/query/include_models.yaml
  interactive_ai/services/project_ie/app/communication/controllers/__init__.py
  interactive_ai/services/project_ie/app/communication/controllers/export_controller.py
  interactive_ai/services/project_ie/app/communication/endpoints/export_endpoints.py
  interactive_ai/services/project_ie/tests/integration/test_export_project.py
  interactive_ai/services/project_ie/tests/unit/controllers/test_export_controller.py
  interactive_ai/services/project_ie/tests/unit/endpoints/test_export_endpoints.py
  interactive_ai/workflows/project_ie/job/tasks/export_project.py
  interactive_ai/workflows/project_ie/job/workflows/export_project_workflow.py
  interactive_ai/workflows/project_ie/tests/unit/workflows/test_project_export_workflow.py
Labels: documentation, IAI

#676 ITEP-66305 - Cleanup smart tools
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/smart-tools/index.ts
  web_ui/packages/smart-tools/package.json
  web_ui/packages/smart-tools/src/segment-anything/segment-anything-wrapper.ts
  web_ui/src/hooks/use-load-ai-webworker/load-webworker.interface.ts
  web_ui/src/hooks/use-load-ai-webworker/use-load-ai-webworker.hook.ts
  web_ui/src/pages/annotator/components/explanation/inference-image.interface.ts
  web_ui/src/pages/annotator/components/explanation/use-inference-image.hook.test.tsx
  web_ui/src/pages/annotator/hooks/use-interactive-segmentation.hook.ts
  web_ui/src/pages/annotator/tools/grabcut-tool/grabcut-tool.interface.ts
  web_ui/src/pages/annotator/tools/polygon-tool/polygon-tool.component.tsx
  web_ui/src/pages/annotator/tools/polygon-tool/polygon-tool.interface.ts
  web_ui/src/pages/annotator/tools/polygon-tool/polygon-tool.test.tsx
  web_ui/src/pages/annotator/tools/ritm-tool/ritm-tool.interface.ts
  web_ui/src/pages/annotator/tools/segment-anything-tool/segment-anything.interface.ts
  web_ui/src/pages/annotator/tools/segment-anything-tool/use-segment-anything-model.hook.ts
  web_ui/src/pages/annotator/tools/ssim-tool/ssim-tool.interface.ts
  web_ui/src/pages/annotator/tools/ssim-tool/ssim-tool.test.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/watershed-state-provider.component.tsx
  web_ui/src/pages/annotator/tools/watershed-tool/watershed-tool.interface.ts
  web_ui/src/webworkers/web-worker.interface.ts
Labels: UI, ready for review

#709 ITEP-71895 modification of resource settings
  interactive_ai/libs/media_utils/media_utils/video_file_repair.py
  interactive_ai/services/resource/chart/templates/autoscaler.yaml
  interactive_ai/services/resource/chart/values.yaml
Labels: IAI

#849 ITEP-71123: User friendly message for OOM failed jobs
  interactive_ai/services/jobs/app/scheduler/kafka_handler.py
  interactive_ai/services/jobs/tests/unit/scheduler/test_kafka_handler.py
Labels: IAI

#756 ITEP-32409 Component tests for training flow revamp feature
  web_ui/src/core/configurable-parameters/dtos/configuration.interface.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
  web_ui/tests/features/project-models/fixtures.ts
  web_ui/tests/features/project-models/legacy-model-train.spec.ts
  web_ui/tests/features/project-models/mocks.ts
  web_ui/tests/features/project-models/project-model.spec.ts
  web_ui/tests/features/project-models/run-test.spec.ts
  web_ui/tests/features/project-models/train-model.spec.ts
  web_ui/tests/fixtures/open-api/mocks.ts
  web_ui/tests/fixtures/open-api/setup-open-api-handlers.ts
  web_ui/tests/fixtures/page-objects/train-model-dialog-page.ts
Labels: UI, ready for review

#759 feat: Support input size parameters
  web_ui/packages/ui/src/toggle-buttons/toggle-buttons.component.tsx
  web_ui/src/core/configurable-parameters/dtos/configuration.interface.ts
  web_ui/src/core/configurable-parameters/services/configuration.interface.ts
  web_ui/src/core/configurable-parameters/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/input-size-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/parameters.component.tsx
  web_ui/src/test-utils/mocked-items-factory/mocked-configuration-parameters.ts
Labels: UI

#818 Add missing tiling params
  docs/rest_api/examples/configuration/requests/revamp/training_configuration.json
  docs/rest_api/examples/configuration/responses/revamp/training_configuration.json
  interactive_ai/services/api/schemas/configuration/requests/revamp/training_configuration.yaml
  interactive_ai/services/api/schemas/configuration/responses/revamp/training_configuration.yaml
  interactive_ai/services/director/app/communication/backward_compatibility/configurations.py
  interactive_ai/services/director/tests/fixtures/backward_compatibility_configuration.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/supported_models/geti_supported_models/manifests/anomaly/uflow.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/detection/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/base.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/semantic_segmentation/base.yaml
  interactive_ai/supported_models/geti_supported_models/model_manifest.py
  interactive_ai/supported_models/tests/test_model_manifest.py
  libs/configuration_tools/src/geti_configuration_tools/hyperparameters/augmentation.py
  libs/configuration_tools/src/geti_configuration_tools/hyperparameters/hyperparameters.py
  libs/configuration_tools/tests/test_hyperparameters.py
Labels: documentation, IAI

#856 refactor: Update UI of sorting models and architectures, fix checking identity of algorithms
  web_ui/src/pages/project-details/components/project-model/project-model.component.tsx
  web_ui/src/pages/project-details/components/project-models/models-container/models-container.component.tsx
  web_ui/src/pages/project-details/components/project-models/models-groups-per-tasks.test.tsx
  web_ui/src/pages/project-details/components/project-models/models-sorting.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/model-architectures/model-architectures.component.tsx
  web_ui/src/pages/project-details/components/project-models/utils.ts
  web_ui/src/shared/components/sort-widget/sort-widget.component.tsx
  web_ui/src/shared/components/sort-widget/sort-widget.module.scss
Labels: UI, ready for review

#860 fix: Don't hide use file/use camera while loading camera permissions
  web_ui/src/pages/project-details/components/project-tests/quick-inference/live-camera-inference/live-camera-inference.component.tsx
Labels: UI, ready for review

#857 fix: Project creation template
  web_ui/src/pages/create-project/components/card.component.tsx
  web_ui/src/pages/create-project/components/card.module.scss
  web_ui/src/pages/create-project/components/name-project/name-project.component.tsx
  web_ui/src/pages/create-project/components/name-project/name-project.test.tsx
  web_ui/src/pages/create-project/components/select-project-template/select-project-template.component.tsx
  web_ui/src/pages/create-project/components/select-project-template/single-task-template.component.tsx
  web_ui/src/pages/create-project/new-project-dialog-provider/use-project-dialog-steps.hook.tsx
  web_ui/src/pages/create-project/new-project-dialog.component.tsx
Labels: UI, ready for review

#861 Update OPA policies
  platform/services/opa_bundle/Makefile
  platform/services/opa_bundle/app/policies/acc/mask_sensitive_logs.rego
  platform/services/opa_bundle/app/policies/acc/policy.rego
  platform/services/opa_bundle/app/policies/acc/policy_test.rego
  platform/services/opa_bundle/app/policies/common/common.rego
  platform/services/opa_bundle/app/policies/common/mask_sensitive_logs.rego
  platform/services/opa_bundle/app/policies/credits/mask_sensitive_logs.rego
  platform/services/opa_bundle/app/policies/credits/policy.rego
  platform/services/opa_bundle/app/policies/credits/policy_test.rego
  platform/services/opa_bundle/app/policies/default/mask_sensitive_logs.rego
  platform/services/opa_bundle/app/policies/default/policy.rego
  platform/services/opa_bundle/app/policies/default/policy_test.rego
  platform/services/opa_bundle/app/policies/gtw/mask_sensitive_logs.rego
  platform/services/opa_bundle/app/policies/gtw/policy.rego
  platform/services/opa_bundle/app/policies/gtw/policy_test.rego
  platform/services/opa_bundle/app/policies/onboarding/policy.rego
  platform/services/opa_bundle/app/policies/onboarding/policy_test.rego
Labels: Platform

#875 uv.lock maintenance
  interactive_ai/data_migration/uv.lock
  interactive_ai/libs/iai_core_py/pyproject.toml
  interactive_ai/libs/iai_core_py/uv.lock
  interactive_ai/libs/media_utils/pyproject.toml
  interactive_ai/libs/media_utils/uv.lock
  interactive_ai/migration_job/uv.lock
  interactive_ai/services/auto_train/pyproject.toml
  interactive_ai/services/auto_train/uv.lock
  interactive_ai/services/dataset_ie/uv.lock
  interactive_ai/services/director/pyproject.toml
  interactive_ai/services/director/uv.lock
  interactive_ai/services/jobs/uv.lock
  interactive_ai/services/model_registration/uv.lock
  interactive_ai/services/project_ie/uv.lock
  interactive_ai/services/resource/uv.lock
  interactive_ai/services/visual_prompt/pyproject.toml
  interactive_ai/services/visual_prompt/uv.lock
  interactive_ai/supported_models/uv.lock
  interactive_ai/workflows/common/pyproject.toml
  interactive_ai/workflows/common/uv.lock
  interactive_ai/workflows/dataset_ie/uv.lock
  interactive_ai/workflows/model_test/uv.lock
  interactive_ai/workflows/optimize/uv.lock
  interactive_ai/workflows/project_ie/uv.lock
  interactive_ai/workflows/train/trainer/pyproject.toml
  interactive_ai/workflows/train/trainer/uv.lock
  interactive_ai/workflows/train/uv.lock
  libs/configuration_tools/pyproject.toml
  libs/configuration_tools/uv.lock
  libs/fastapi_tools/uv.lock
  libs/feature_tools/uv.lock
  libs/grpc_interfaces/uv.lock
  libs/k8s_tools/uv.lock
  libs/kafka_tools/pyproject.toml
  libs/kafka_tools/uv.lock
  libs/spicedb_tools/uv.lock
  libs/telemetry_tools/pyproject.toml
  libs/telemetry_tools/uv.lock
  libs/types/uv.lock
  platform/services/account/tests/pyproject.toml
  platform/services/account/tests/uv.lock
  platform/services/credit/uv.lock
  platform/services/initial_user/uv.lock
  platform/services/notifier/pyproject.toml
  platform/services/notifier/uv.lock
  platform/services/observability/uv.lock
  platform/services/onboarding/uv.lock
  platform/services/platform_cleaner/uv.lock
  platform/services/user_directory/uv.lock
  platform/services/weights_uploader/uv.lock
Labels: IAI, Platform

#881 Remove deprecated demo_ovms.py from deployment package
  interactive_ai/services/resource/app/code_deployment/README.md
  interactive_ai/services/resource/app/code_deployment/example_code/demo_ovms.ipynb
  interactive_ai/services/resource/app/code_deployment/example_code/requirements-notebook.txt
Labels: IAI

#886 Report upgrade progress
  deploy/charts/flyte-core/chart/templates/admin/init-job.yaml
  deploy/charts/flyte-core/chart/templates/datacatalog/init-job.yaml
  deploy/charts/flyte-core/chart/templates/flytescheduler/init-job.yaml
  deploy/charts/geti-tools/chart/charts/spice-db/templates/init-job.yaml
  platform/services/geti_controller/app/constants/platform.py
  platform/services/geti_controller/app/platform_operations/cluster.py
  platform/services/geti_controller/app/platform_operations/version_change.py
  platform/services/geti_controller/app/rest/endpoints/check_installation_upgrade_progress.py
  platform/services/geti_controller/app/rest/endpoints/install.py
  platform/services/geti_controller/app/rest/endpoints/upgrade.py
  platform/services/geti_controller/app/rest/schema/check_installation_upgrade_progress.py
  platform/services/geti_controller/chart/files/rules.yaml
  platform/services/install_upgrade/app/job.py
Labels: Platform

#883 Reduce dex_template container image size
  web_ui/dex_templates/Dockerfile
Labels: UI

#888 Inference fails too early on heavy model
  interactive_ai/services/inference_gateway/app/grpc/config.go
Labels: IAI

#896 894 Add trainable parameters and gflops to the model architectures view
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/model-architectures/model-architectures-list.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.module.scss
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-types-list.component.tsx
Labels: UI, ready for review

#897 fix: Prevent validation subset size from being empty
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/subsets-distribution-slider/subsets-distribution-slider.module.scss
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.test.tsx
Labels: UI, ready for review

#901 GPU plugins installation
  deploy/geti_manifest/Makefile
  deploy/geti_manifest/geti-manifest.yaml.j2
  deploy/geti_manifest/intel-device-plugin.yaml
  platform/services/geti_controller/app/constants/platform.py
  platform/services/geti_controller/app/platform_operations/cluster.py
  platform/services/geti_controller/app/platform_operations/system_versions.py
  platform/services/geti_controller/app/platform_operations/version_change.py
  platform/services/geti_controller/app/rest/endpoints/install.py
  platform/services/geti_controller/app/rest/endpoints/upgrade.py
  platform/services/geti_controller/app/rest/schema/install.py
  platform/services/geti_controller/chart/templates/deployment.yaml
  platform/services/geti_controller/tests/unit/test_install.py
  platform/services/install_upgrade/app/job.py
  platform/services/installer/app/commands/install.py
  platform/services/installer/app/configuration_models/install_config.py
  platform/services/installer/app/constants/os.py
  platform/services/installer/app/constants/paths.py
  platform/services/installer/app/geti_controller/communication.py
  platform/services/installer/app/k3s/install.py
Labels: Platform

#909 add upgrade command
  deploy/geti_manifest/geti-manifest.yaml.j2
  platform/services/geti_controller/Makefile
  platform/services/geti_controller/app/platform_operations/cluster.py
  platform/services/geti_controller/chart/templates/deployment.yaml
  platform/services/geti_controller/uv.lock
  platform/services/initial_user/app/users_handler_client.py
  platform/services/install_upgrade/app/job.py
  platform/services/installer/Makefile
  platform/services/installer/app/checks/dns.py
  platform/services/installer/app/checks/errors.py
  platform/services/installer/app/checks/internet.py
  platform/services/installer/app/checks/migrate.py
  platform/services/installer/app/checks/os.py
  platform/services/installer/app/checks/resources.py
  platform/services/installer/app/cli_utils/prompts.py
  platform/services/installer/app/commands/install.py
  platform/services/installer/app/commands/upgrade.py
  platform/services/installer/app/configuration_models/install_config.py
  platform/services/installer/app/configuration_models/upgrade_config.py
  platform/services/installer/app/constants/platform.py
  platform/services/installer/app/geti_controller/communication.py
  platform/services/installer/app/geti_controller/install.py
  platform/services/installer/app/geti_controller/uninstall.py
  platform/services/installer/app/platform_configuration/versions.py
  platform/services/installer/app/platform_installer.py
  platform/services/installer/app/platform_utils/errors.py
  platform/services/installer/app/platform_utils/helm.py
  platform/services/installer/app/texts/checks.py
  platform/services/installer/app/texts/install_command.py
  platform/services/installer/app/texts/upgrade_command.py
  platform/services/installer/pyproject.toml
  platform/services/installer/tests/__init__.py
  platform/services/installer/tests/unit/__init__.py
  platform/services/installer/tests/unit/commands/test_upgrade.py
  platform/services/installer/uv.lock
Labels: Platform

#911 update oci address
  deploy/geti_manifest/geti-manifest.yaml.j2
  platform/services/geti_controller/chart/templates/deployment.yaml
Labels: Platform

#912 Support include models latest active
  interactive_ai/services/project_ie/app/communication/controllers/export_controller.py
  interactive_ai/workflows/project_ie/job/repos/binary_storage_repo.py
  interactive_ai/workflows/project_ie/job/repos/document_repo.py
  interactive_ai/workflows/project_ie/job/tasks/export_project.py
  interactive_ai/workflows/project_ie/job/usecases/data_redaction_usecase.py
  interactive_ai/workflows/project_ie/job/usecases/project_export_usecase.py
  interactive_ai/workflows/project_ie/tests/unit/repos/test_binary_storage_repo.py
  interactive_ai/workflows/project_ie/tests/unit/repos/test_document_repo.py
  interactive_ai/workflows/project_ie/tests/unit/usecases/test_data_redaction_usecase.py
  interactive_ai/workflows/project_ie/tests/unit/usecases/test_project_export_usecase.py
Labels: IAI

#859 787 - preview gallery
  web_ui/packages/core/src/feature-flags/services/feature-flag-service.interface.ts
  web_ui/src/assets/index.scss
  web_ui/src/pages/project-details/components/project-media/media-content.component.tsx
  web_ui/src/pages/project-details/components/project-media/preview-gallery-dialog/preview-gallery-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-media/preview-gallery-dialog/preview-gallery-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-media/preview-gallery-dialog/utils.ts
  web_ui/src/pages/project-details/components/project-media/project-media.component.tsx
  web_ui/src/shared/components/media-preview-list/delete-item-button.component.tsx
  web_ui/src/shared/components/media-preview-list/image-overlay.component.tsx
  web_ui/src/shared/components/media-preview-list/media-item.component.tsx
  web_ui/src/shared/components/media-preview-list/media-preview-list.component.tsx
  web_ui/src/shared/media-utils.test.ts
  web_ui/src/shared/media-utils.ts
  web_ui/tests/features/project-dataset/project-media/classification-media.spec.ts
  web_ui/tests/features/project-dataset/project-media/upload-media.spec.ts
  web_ui/tests/fixtures/page-objects/project-media-bucket-page.ts
  web_ui/tests/fixtures/page-objects/template-manager.ts
Labels: UI, ready for review

#948 upgrade OTX to latest 2.5 commit
  interactive_ai/workflows/train/trainer/uv.lock
Labels: IAI
