Repository open-edge-platform/geti, pull requests merged in 2025-09, with the labels that each got.

#1105 Retain previous annotation until mouse release
  web_ui/src/pages/annotator/tools/keypoint-tool/keypoint-tool.component.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/secondary-toolbar.component.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/secondary-toolbar.test.tsx
  web_ui/tests/features/annotator/keypoint-detection/keypoint-detection.spec.ts
Labels: UI, ready for review

#1217 Dev proxy: try parsing content so it does not fail when parsing text
  web_ui/dev-proxy.ts
Labels: UI

#1218 Fix name for STFPM optimized model
  web_ui/src/pages/project-details/components/project-model/model-variants/tabs/open-vino-tab-models.component.tsx
Labels: UI, ready for review

#1221 Fixed unit tests for the installer
  .github/components-path-filters.yml
  platform/services/installer/Makefile
  platform/services/installer/tests/unit/checks/test_internet_checks.py
Labels: Platform

#1229 chore: Move copyright header lint from packages/lint to geti classic lint
  web_ui/eslint.config.js
  web_ui/packages/config/lint/eslint.config.js
Labels: UI, ready for review

#1232 chore: Remove leftover forwardRefs
  web_ui/src/pages/annotator/components/labels/label-search/base-label-search.component.tsx
  web_ui/src/pages/annotator/components/navigation-toolbar/annotations-required/no-annotations-required.component.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/project-import/project-import-file-picker.component.tsx
  web_ui/src/setupTests.tsx
Labels: UI, ready for review

#1223 Hide select dataset export format when less than 2 options available
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/export-dataset-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/export-dataset-dialog.test.tsx
Labels: UI, ready for review

#1238 build: Change installer pkg structure
  .github/workflows/package-distribution.yaml
  platform/services/installer/Makefile
Labels: Platform

#1258 chore: update model_server
  deploy/charts/impt/chart/charts/modelmesh-serving/values.yaml
  platform/services/installer/app/templates/impt-values.yaml.j2
Labels: Platform

#1287 ffmpeg upgrade
  interactive_ai/migration_job/Dockerfile
  interactive_ai/services/inference_gateway/Dockerfile
  interactive_ai/services/resource/Dockerfile
  interactive_ai/services/visual_prompt/Dockerfile
  interactive_ai/workflows/dataset_ie/Dockerfile
Labels: Backend

#1283 switch to the otx release/2.6.0 version
  interactive_ai/services/auto_train/Dockerfile
  interactive_ai/services/director/Dockerfile
  interactive_ai/services/resource/Dockerfile
  interactive_ai/workflows/dataset_ie/Dockerfile
  interactive_ai/workflows/optimize/Dockerfile
  interactive_ai/workflows/train/Dockerfile
  interactive_ai/workflows/train/trainer/pyproject.toml
  interactive_ai/workflows/train/trainer/uv.lock
Labels: Backend

#1331 Jchrapko/cuda update
  interactive_ai/workflows/train/trainer/gpu/Dockerfile
  platform/services/account/chart/templates/init-job.yaml
Labels: Platform, Backend

#1327 [UI] Color picker dialog exposure
  web_ui/packages/core/src/users/hook/use-users.test.tsx
  web_ui/packages/ui/index.ts
  web_ui/packages/ui/src/color-picker-dialog/change-color-button.component.tsx
  web_ui/packages/ui/src/color-picker-dialog/color-picker-dialog.component.tsx
  web_ui/packages/ui/src/color-picker-dialog/color-picker-dialog.module.scss
  web_ui/packages/ui/src/color-picker-dialog/utils.ts
  web_ui/src/pages/create-project/components/project-labels-management/task-labels-management/new-label-tree-item/label-tree-label.component.tsx
  web_ui/src/pages/create-project/components/project-labels-management/utils.ts
  web_ui/src/pages/landing-page/landing-page-workspace/components/dataset-import-to-new-project/dataset-import-to-new-project-labels.component.tsx
  web_ui/src/shared/components/label-tree-view/label-tree-view-item/label-edition-mode/label-edition-mode.component.tsx
Labels: UI

#1335 Add react-colorful to geti/ui package
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/ui/package.json
Labels: UI

#1336 chore(deps): Python dependencies update
  interactive_ai/migration_job/pyproject.toml
  interactive_ai/migration_job/uv.lock
  interactive_ai/services/director/pyproject.toml
  interactive_ai/services/director/uv.lock
  interactive_ai/services/jobs/pyproject.toml
  interactive_ai/services/jobs/uv.lock
  interactive_ai/services/resource/pyproject.toml
  interactive_ai/services/resource/uv.lock
  interactive_ai/services/visual_prompt/pyproject.toml
  interactive_ai/services/visual_prompt/uv.lock
  platform/services/observability/pyproject.toml
  platform/services/observability/uv.lock
  platform/services/onboarding/pyproject.toml
  platform/services/onboarding/uv.lock
  platform/services/user_directory/pyproject.toml
  platform/services/user_directory/uv.lock
  platform/services/weights_uploader/pyproject.toml
  platform/services/weights_uploader/uv.lock
Labels: Platform, Backend

#1339 chore(deps): update Nginx container image
  web_ui/Dockerfile
Labels: UI

#1333 Add path filter for interactive_ai/workflows/common/pyproject.toml
  .github/components-path-filters.yml
  interactive_ai/services/resource/pyproject.toml
  interactive_ai/services/resource/uv.lock
  interactive_ai/workflows/common/pyproject.toml
  interactive_ai/workflows/common/uv.lock
  interactive_ai/workflows/dataset_ie/uv.lock
  interactive_ai/workflows/model_test/uv.lock
  interactive_ai/workflows/optimize/uv.lock
  interactive_ai/workflows/project_ie/uv.lock
  interactive_ai/workflows/train/uv.lock
Labels: Backend

#1344 Be able to build and run geti locally
  CONTRIBUTING.md
  Makefile
  Makefile.shared
  interactive_ai/Makefile
  platform/services/installer/Dockerfile
  platform/services/installer/Makefile
  platform/services/installer/app/version.yaml
  platform/services/installer/app/version.yaml.template
  web_ui/dex_templates/Makefile
Labels: UI, Platform, Backend

#1340 chore(deps): update requests
  interactive_ai/services/jobs/app/model/job.py
  interactive_ai/services/jobs/pyproject.toml
  interactive_ai/services/jobs/uv.lock
  interactive_ai/workflows/common/pyproject.toml
  interactive_ai/workflows/common/uv.lock
  interactive_ai/workflows/dataset_ie/pyproject.toml
  interactive_ai/workflows/dataset_ie/uv.lock
  interactive_ai/workflows/model_test/pyproject.toml
  interactive_ai/workflows/model_test/uv.lock
  interactive_ai/workflows/optimize/pyproject.toml
  interactive_ai/workflows/optimize/uv.lock
  interactive_ai/workflows/project_ie/pyproject.toml
  interactive_ai/workflows/project_ie/uv.lock
  interactive_ai/workflows/train/pyproject.toml
  interactive_ai/workflows/train/uv.lock
Labels: Backend
