Repository open-edge-platform/geti, pull requests merged in 2025-08, with the labels that each got.

#960 Move link and information about original model to the InfoTooltip
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/fine-tune-parameters.component.tsx
Labels: UI, ready for review

#927 Installer binary workflow
  .github/actions/build-version/action.yaml
  .github/components-path-filters.yml
  .github/workflows/main.yml
  .github/workflows/package-distribution.yaml
  platform/services/install_upgrade/app/job.py
  platform/services/installer/Dockerfile
  platform/services/installer/Makefile
  platform/services/installer/app/checks/k8s.py
  platform/services/installer/app/checks/migrate.py
  platform/services/installer/app/checks/platform.py
  platform/services/installer/app/commands/install.py
  platform/services/installer/app/commands/upgrade.py
  platform/services/installer/app/constants/charts.py
  platform/services/installer/app/constants/paths.py
  platform/services/installer/app/geti_controller.yaml.j2
  platform/services/installer/app/geti_controller/communication.py
  platform/services/installer/app/geti_controller/constants.py
  platform/services/installer/app/geti_controller/install.py
  platform/services/installer/app/geti_controller/uninstall.py
  platform/services/installer/app/k3s/detect_ip.py
  platform/services/installer/app/k3s/detect_k3s.py
  platform/services/installer/app/k3s/install.py
  platform/services/installer/app/k3s/uninstall.py
  platform/services/installer/app/platform_configuration/platform.py
  platform/services/installer/app/platform_configuration/versions.py
  platform/services/installer/app/platform_utils/calculate_resource_multiplier.py
  platform/services/installer/app/platform_utils/errors.py
  platform/services/installer/app/platform_utils/helm.py
  platform/services/installer/app/platform_utils/install_system_packages.py
  platform/services/installer/app/platform_utils/k8s.py
  platform/services/installer/app/platform_utils/kube_config_handler.py
  platform/services/installer/app/platform_utils/management/management.py
  platform/services/installer/app/platform_utils/scale_helm_chart_resources.py
  platform/services/installer/app/system-packages.yaml
  platform/services/installer/app/texts/error_messages.py
Labels: Platform

#967 Add torchvision version to install in XPU docker file
  interactive_ai/workflows/train/trainer/xpu/Dockerfile
Labels: IAI

#976 #956 Add validation for subset split parameters
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/subsets-distribution-slider/subsets-distribution-slider.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#982 Allow copying error message of failed jobs
  web_ui/src/shared/components/header/jobs-management/jobs-list-item-progress.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs.module.scss
Labels: UI, ready for review

#1000 feat: Add back button inside training dialog
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-basic.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#1007 fix: Active model type and overlapping algo title
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.module.scss
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#1010 [RELEASE] fix: Active model type and overlapping algo title
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.module.scss
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#1011 Version bumped up to 2.13.0
  VERSION
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
Labels: documentation, IAI

#928 update datumaro to v1.11.1
  interactive_ai/workflows/common/pyproject.toml
  interactive_ai/workflows/common/uv.lock
  interactive_ai/workflows/dataset_ie/pyproject.toml
  interactive_ai/workflows/dataset_ie/uv.lock
  interactive_ai/workflows/model_test/uv.lock
  interactive_ai/workflows/optimize/pyproject.toml
  interactive_ai/workflows/optimize/uv.lock
  interactive_ai/workflows/project_ie/uv.lock
  interactive_ai/workflows/train/pyproject.toml
  interactive_ai/workflows/train/uv.lock
Labels: IAI

#1025 swtich to bitnamilegacy repository
  deploy/charts/flyte-core/chart/values.yaml
  deploy/charts/geti-components/chart/charts/modelmesh-serving/values.yaml
  deploy/charts/geti-tools/chart/charts/etcd/values.yaml
  deploy/charts/geti-tools/chart/charts/kafka-provisioning/values.yaml
  deploy/charts/geti-tools/chart/charts/kafka/README.md
  deploy/charts/geti-tools/chart/charts/kafka/values.yaml
  deploy/charts/geti-tools/chart/charts/openldap/values.yaml
  deploy/charts/geti-tools/chart/charts/seaweed-fs/values.yaml
  deploy/charts/geti-tools/chart/charts/spice-db/values.yaml
  interactive_ai/services/auto_train/chart/values.yaml
  interactive_ai/services/dataset_ie/chart/values.yaml
  interactive_ai/services/director/chart/values.yaml
  interactive_ai/services/jobs/chart/values.yaml
  interactive_ai/services/project_ie/chart/values.yaml
  interactive_ai/services/resource/chart/values.yaml
  interactive_ai/services/visual_prompt/chart/values.yaml
  platform/services/account/chart/values.yaml
  platform/services/credit/chart/values.yaml
  platform/services/initial_user/chart/values.yaml
  platform/services/observability/chart/values.yaml
  platform/services/user_directory/chart/values.yaml
  platform/services/weights_uploader/chart/values.yaml
Labels: IAI, Platform

#1014 Remove sign-in conditions from LoginBox
  web_ui/dex_templates/static/main.css
  web_ui/dex_templates/templates/password.html
Labels: UI, ready for review

#1023 swtich to bitnamilegacy repository
  deploy/charts/flyte-core/chart/values.yaml
  deploy/charts/geti-components/chart/charts/modelmesh-serving/values.yaml
  deploy/charts/geti-tools/chart/charts/etcd/values.yaml
  deploy/charts/geti-tools/chart/charts/kafka-provisioning/values.yaml
  deploy/charts/geti-tools/chart/charts/kafka/README.md
  deploy/charts/geti-tools/chart/charts/kafka/values.yaml
  deploy/charts/geti-tools/chart/charts/openldap/values.yaml
  deploy/charts/geti-tools/chart/charts/seaweed-fs/values.yaml
  deploy/charts/geti-tools/chart/charts/spice-db/values.yaml
  interactive_ai/services/auto_train/chart/values.yaml
  interactive_ai/services/dataset_ie/chart/values.yaml
  interactive_ai/services/director/chart/values.yaml
  interactive_ai/services/jobs/chart/values.yaml
  interactive_ai/services/project_ie/chart/values.yaml
  interactive_ai/services/resource/chart/values.yaml
  interactive_ai/services/visual_prompt/chart/values.yaml
  platform/services/account/chart/values.yaml
  platform/services/credit/chart/values.yaml
  platform/services/initial_user/chart/values.yaml
  platform/services/observability/chart/values.yaml
  platform/services/user_directory/chart/values.yaml
  platform/services/weights_uploader/chart/values.yaml
Labels: IAI, Platform

#1026 Bugfix: subset split configuration not applied during training [release 2.12]
  interactive_ai/services/auto_train/app/job_creation_helpers.py
  interactive_ai/services/director/app/communication/kafka_handler.py
  interactive_ai/services/director/app/service/job_submission/job_creation_helpers.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/services/director/tests/unit/test_job_kafka_handler.py
  interactive_ai/workflows/common/jobs_common/utils/dataset_helpers.py
  interactive_ai/workflows/common/jobs_common/utils/subset_management/subset_manager.py
  interactive_ai/workflows/common/tests/fixtures/configuration.py
  interactive_ai/workflows/common/tests/integration/test_subset_manager.py
  interactive_ai/workflows/common/tests/unit/utils/subset_management/test_subset_manager_unit.py
  interactive_ai/workflows/common/tests/unit/utils/test_dataset_helpers.py
  interactive_ai/workflows/train/job/commands/create_task_train_dataset_command.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/create_task_train_dataset.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/get_train_data.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/prepare_data_and_train.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/train_helpers.py
  interactive_ai/workflows/train/job/utils/train_workflow_data.py
  interactive_ai/workflows/train/job/workflows/train_workflow.py
  interactive_ai/workflows/train/tests/fixtures/configuration.py
  interactive_ai/workflows/train/tests/fixtures/general.py
  interactive_ai/workflows/train/tests/fixtures/train_workflow_data.py
  interactive_ai/workflows/train/tests/unit/commands/test_create_train_dataset_command.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_create_task_train_dataset_task.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_get_train_data.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_prepare_data_and_train.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_train_helpers.py
  interactive_ai/workflows/train/tests/unit/workflows/test_train_workflow.py
  libs/configuration_tools/src/geti_configuration_tools/training_configuration.py
Labels: IAI

#947 Add include_models to metadata
  docs/rest_api/examples/jobs/responses/export_project.json
  interactive_ai/services/api/schemas/project_import_export/responses/export_project_metadata.yaml
  interactive_ai/services/project_ie/app/communication/controllers/export_controller.py
  interactive_ai/services/project_ie/tests/integration/test_export_project.py
  interactive_ai/services/project_ie/tests/unit/controllers/test_export_controller.py
Labels: documentation, IAI

#904 [Web-UI] Update linter and build dependencies
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/packages/core/package.json
  web_ui/packages/smart-tools/package.json
  web_ui/packages/ui/package.json
  web_ui/packages/ui/src/button/button.component.tsx
  web_ui/src/intel-admin-app/pages/organizations/generate-onboarding-invitation-link-dialog/generate-onboarding-invitation-link-dialog.test.tsx
  web_ui/src/notification/notification-toast/center-notification-toast.component.tsx
  web_ui/src/notification/notification-toast/notification-toast.component.tsx
  web_ui/src/pages/annotator/annotation/list-item-grid.component.tsx
  web_ui/src/pages/annotator/annotation/shapes/pose-edges.component.tsx
  web_ui/src/pages/annotator/components/footer/annotator-footer.component.tsx
  web_ui/src/pages/annotator/components/footer/zoom-level/zoom-level.component.tsx
  web_ui/src/pages/annotator/providers/annotator-provider/annotator-provider.test.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/rotation-anchor.component.tsx
  web_ui/src/pages/camera-page/components/sidebar/open-sidebar.test.tsx
  web_ui/src/pages/create-project/components/card.component.tsx
  web_ui/src/pages/create-project/components/pose-template/canvas/canvas-template.test.tsx
  web_ui/src/pages/create-project/components/pose-template/canvas/edge.component.tsx
  web_ui/src/pages/create-project/components/pose-template/canvas/expandable-point-label.component.tsx
  web_ui/src/pages/create-project/components/pose-template/canvas/hidden-edge.component.tsx
  web_ui/src/pages/create-project/components/pose-template/pose-template.test.tsx
  web_ui/src/pages/project-details/components/project-model/model-statistics/model-statistics.component.tsx
  web_ui/src/pages/project-details/components/project-model/model-variants/optimization/start-optimization/start-optimization.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/subsets-distribution-slider/subsets-distribution-slider.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/ui/accordion/accordion.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/model-types/model-type.component.tsx
  web_ui/src/pages/user-management/usage/month-picker/calendar-cell.component.tsx
  web_ui/src/shared/components/header/jobs-management/jobs-discard-action.component.tsx
  web_ui/src/shared/components/media-preview-list/media-item.component.tsx
  web_ui/src/shared/components/sidebar-menu/sidebar-menu.component.tsx
  web_ui/src/shared/drag-and-drop/drag-and-drop.component.tsx
Labels: UI, ready for review

#1004 Bugfix: subset split configuration not applied during training
  interactive_ai/services/auto_train/app/job_creation_helpers.py
  interactive_ai/services/director/app/communication/kafka_handler.py
  interactive_ai/services/director/app/service/job_submission/job_creation_helpers.py
  interactive_ai/services/director/tests/fixtures/training_configuration.py
  interactive_ai/services/director/tests/unit/test_job_kafka_handler.py
  interactive_ai/workflows/common/jobs_common/utils/dataset_helpers.py
  interactive_ai/workflows/common/jobs_common/utils/subset_management/subset_manager.py
  interactive_ai/workflows/common/tests/fixtures/configuration.py
  interactive_ai/workflows/common/tests/integration/test_subset_manager.py
  interactive_ai/workflows/common/tests/unit/utils/subset_management/test_subset_manager_unit.py
  interactive_ai/workflows/common/tests/unit/utils/test_dataset_helpers.py
  interactive_ai/workflows/train/job/commands/create_task_train_dataset_command.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/create_task_train_dataset.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/get_train_data.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/prepare_data_and_train.py
  interactive_ai/workflows/train/job/tasks/prepare_and_train/train_helpers.py
  interactive_ai/workflows/train/job/utils/train_workflow_data.py
  interactive_ai/workflows/train/job/workflows/train_workflow.py
  interactive_ai/workflows/train/tests/fixtures/configuration.py
  interactive_ai/workflows/train/tests/fixtures/general.py
  interactive_ai/workflows/train/tests/fixtures/train_workflow_data.py
  interactive_ai/workflows/train/tests/unit/commands/test_create_train_dataset_command.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_create_task_train_dataset_task.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_get_train_data.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_prepare_data_and_train.py
  interactive_ai/workflows/train/tests/unit/tasks/prepare_and_train/test_train_helpers.py
  interactive_ai/workflows/train/tests/unit/workflows/test_train_workflow.py
  libs/configuration_tools/src/geti_configuration_tools/training_configuration.py
Labels: IAI

#1034 Bugfix: use correct default model and set intel gpu to true [release 2.12]
  interactive_ai/libs/iai_core_py/iai_core/services/model_service.py
  interactive_ai/libs/iai_core_py/tests/services/test_model_service.py
  interactive_ai/services/director/app/communication/controllers/training_controller.py
  interactive_ai/services/director/app/configuration/configuration_manager.py
  interactive_ai/services/director/app/usecases/auto_train/kafka_handler.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_controller.py
  interactive_ai/services/director/tests/unit/configuration/test_configuration_manager.py
  interactive_ai/supported_models/geti_supported_models/manifests/detection/dfine_x.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_r50_v1.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_r50_v2.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_swin_t.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_efficientnetb2b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_r50_v1.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_r50_v2.yaml
  interactive_ai/workflows/train/trainer/uv.lock
Labels: IAI

#1035 Bugfix: use correct default model and set intel gpu to true
  interactive_ai/libs/iai_core_py/iai_core/services/model_service.py
  interactive_ai/libs/iai_core_py/tests/services/test_model_service.py
  interactive_ai/services/director/app/communication/controllers/training_controller.py
  interactive_ai/services/director/app/configuration/configuration_manager.py
  interactive_ai/services/director/app/usecases/auto_train/kafka_handler.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_controller.py
  interactive_ai/services/director/tests/unit/configuration/test_configuration_manager.py
  interactive_ai/supported_models/geti_supported_models/manifests/detection/dfine_x.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_r50_v1.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_r50_v2.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/instance_segmentation/maskrcnn_swin_t.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_efficientnetb2b.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_r50_v1.yaml
  interactive_ai/supported_models/geti_supported_models/manifests/rotated_detection/maskrcnn_r50_v2.yaml
  interactive_ai/workflows/train/trainer/uv.lock
Labels: Backend

#1029 Remove Anomaly Segmentation code
  web_ui/src/assets/domains/anomaly-segmentation.svg
  web_ui/src/assets/domains/index.tsx
  web_ui/src/core/datasets/dataset.enum.ts
  web_ui/src/core/datasets/dtos/dataset.enum.ts
  web_ui/src/core/datasets/services/utils.ts
  web_ui/src/core/datasets/utils.ts
  web_ui/src/core/labels/label.interface.ts
  web_ui/src/core/labels/utils.test.ts
  web_ui/src/core/projects/core.interface.ts
  web_ui/src/core/projects/domains.test.ts
  web_ui/src/core/projects/domains.ts
  web_ui/src/core/projects/dtos/task.interface.ts
  web_ui/src/core/projects/project.interface.ts
  web_ui/src/core/projects/services/api-project-service.test.ts
  web_ui/src/core/projects/services/test-utils.ts
  web_ui/src/core/projects/utils.ts
  web_ui/src/pages/annotator/annotation/annotation-list/annotation-list-container/annotation-list-container.test.tsx
  web_ui/src/pages/annotator/annotation/labels/labels.test.tsx
  web_ui/src/pages/annotator/annotator-canvas.test.tsx
  web_ui/src/pages/annotator/components/primary-toolbar/primary-toolbar.test.tsx
  web_ui/src/pages/annotator/providers/submit-annotations-provider/submit-annotations-provider.test.tsx
  web_ui/src/pages/annotator/providers/task-chain-provider/task-chain-provider.test.tsx
  web_ui/src/pages/annotator/tools/bounding-box/index.tsx
  web_ui/src/pages/annotator/tools/circle-tool/index.tsx
  web_ui/src/pages/annotator/tools/edit-tool/index.tsx
  web_ui/src/pages/annotator/tools/explanation-tool/explanation-secondary-toolbar.component.test.tsx
  web_ui/src/pages/annotator/tools/explanation-tool/index.tsx
  web_ui/src/pages/annotator/tools/grabcut-tool/index.tsx
  web_ui/src/pages/annotator/tools/polygon-tool/index.tsx
  web_ui/src/pages/annotator/tools/ritm-tool/index.tsx
  web_ui/src/pages/annotator/tools/segment-anything-tool/index.tsx
  web_ui/src/pages/annotator/tools/selecting-tool/index.tsx
  web_ui/src/pages/annotator/tools/selecting-tool/secondary-toolbar.test.tsx
  web_ui/src/pages/annotator/tools/ssim-tool/util.ts
  web_ui/src/pages/annotator/tools/watershed-tool/utils.ts
  web_ui/src/pages/camera-page/components/camera-factory.test.tsx
  web_ui/src/pages/create-project/components/select-project-template/select-project-template.test.tsx
  web_ui/src/pages/create-project/components/select-project-template/utils.tsx
  web_ui/src/pages/landing-page/landing-page-workspace/components/projects-list/components/project/project-performance.test.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/export-dataset-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/export-dataset-message.test.tsx
  web_ui/src/pages/project-details/components/project-dataset/export-dataset/utils.ts
  web_ui/src/pages/project-details/components/project-tests/run-test-dialog/use-run-test-dialog-state.hook.tsx
  web_ui/src/pages/utils.test.ts
  web_ui/src/shared/components/domain-name/domain-name.test.tsx
  web_ui/tests/features/annotator/tools/active-tool.spec.ts
  web_ui/tests/fixtures/annotator-test.ts
  web_ui/tests/fixtures/open-api/mocks.ts
  web_ui/tests/fixtures/page-objects/create-project-page.ts
  web_ui/tests/mocks/anomaly/anomaly-segmentation/mocks.ts
Labels: UI, ready for review

#1046 Apply filtering parameters
  interactive_ai/services/director/app/service/job_submission/job_creation_helpers.py
  interactive_ai/services/director/app/service/job_submission/optimize.py
  interactive_ai/services/director/app/service/job_submission/test.py
  interactive_ai/services/director/tests/integration/communication/test_integration_optimization_controller.py
  interactive_ai/workflows/common/jobs_common/utils/annotation_filter.py
  interactive_ai/workflows/common/jobs_common/utils/dataset_helpers.py
  interactive_ai/workflows/common/jobs_common/utils/subset_management/subset_manager.py
  interactive_ai/workflows/common/jobs_common_extras/shard_dataset/tasks/shard_dataset.py
  interactive_ai/workflows/common/tests/integration/test_subset_manager.py
  interactive_ai/workflows/common/tests/unit/test_annotation_filter.py
  interactive_ai/workflows/common/tests/unit/utils/subset_management/test_subset_manager_unit.py
  interactive_ai/workflows/common/tests/unit/utils/test_dataset_helpers.py
  interactive_ai/workflows/model_test/job/commands/create_testing_dataset_command.py
  interactive_ai/workflows/model_test/job/tasks/model_testing.py
  interactive_ai/workflows/model_test/job/workflows/model_test_workflow.py
  interactive_ai/workflows/optimize/job/tasks/evaluation_task.py
  interactive_ai/workflows/optimize/job/tasks/helpers.py
  interactive_ai/workflows/optimize/job/tasks/optimization_task.py
  interactive_ai/workflows/optimize/job/workflows/optimize_workflow.py
  interactive_ai/workflows/optimize/tests/unit/tasks/test_evaluation_task.py
  interactive_ai/workflows/optimize/tests/unit/workflows/test_optimize_workflow.py
Labels: Backend

#1057 Remove 'background' label from labels page
  web_ui/src/core/labels/utils.test.ts
  web_ui/src/core/labels/utils.ts
  web_ui/src/pages/project-details/components/project-labels/utils.ts
Labels: UI, ready for review

#1059 Bugfix: Fall back to regenerate preview video if not available
  interactive_ai/services/resource/app/resource_management/media_manager.py
Labels: Backend

#1060 Apply filtering parameters [release 2.12]
  interactive_ai/services/director/app/service/job_submission/job_creation_helpers.py
  interactive_ai/services/director/app/service/job_submission/optimize.py
  interactive_ai/services/director/app/service/job_submission/test.py
  interactive_ai/services/director/tests/integration/communication/test_integration_optimization_controller.py
  interactive_ai/workflows/common/jobs_common/utils/annotation_filter.py
  interactive_ai/workflows/common/jobs_common/utils/dataset_helpers.py
  interactive_ai/workflows/common/jobs_common/utils/subset_management/subset_manager.py
  interactive_ai/workflows/common/jobs_common_extras/shard_dataset/tasks/shard_dataset.py
  interactive_ai/workflows/common/tests/integration/test_subset_manager.py
  interactive_ai/workflows/common/tests/unit/test_annotation_filter.py
  interactive_ai/workflows/common/tests/unit/utils/subset_management/test_subset_manager_unit.py
  interactive_ai/workflows/common/tests/unit/utils/test_dataset_helpers.py
  interactive_ai/workflows/model_test/job/commands/create_testing_dataset_command.py
  interactive_ai/workflows/model_test/job/tasks/model_testing.py
  interactive_ai/workflows/model_test/job/workflows/model_test_workflow.py
  interactive_ai/workflows/optimize/job/tasks/evaluation_task.py
  interactive_ai/workflows/optimize/job/tasks/helpers.py
  interactive_ai/workflows/optimize/job/tasks/optimization_task.py
  interactive_ai/workflows/optimize/job/workflows/optimize_workflow.py
  interactive_ai/workflows/optimize/tests/unit/tasks/test_evaluation_task.py
  interactive_ai/workflows/optimize/tests/unit/workflows/test_optimize_workflow.py
Labels: IAI

#1072 Upgrade OTX to latest 2.5 commit
  interactive_ai/workflows/train/trainer/uv.lock
Labels: IAI

#1082 [RELEASE] #1063 fix: Training parameters slider was not working properly
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/advanced-settings.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/data-management.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.module.scss
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/training-subsets.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/utils.test.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/data-management/training-subsets/utils.ts
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/learning-parameters/learning-parameters.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/training.component.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/advanced-settings/training/training.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.component.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
  web_ui/src/test-utils/mocked-items-factory/mocked-configuration-parameters.ts
Labels: UI, ready for review

#1047 Fix Create New Project dialog styles
  web_ui/src/pages/create-project/components/name-project/name-project.component.tsx
  web_ui/src/pages/create-project/new-project-dialog.component.tsx
Labels: UI, ready for review

#1085 feat: Display no available parameters
  web_ui/src/pages/project-details/components/project-model/model-configurable-parameters/trained-model-configuration-parameters/trained-model-configuration-parameters.component.tsx
Labels: UI, ready for review

#1090 fix: Start button disabled incorrectly
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/train-model-dialog.test.tsx
  web_ui/src/pages/project-details/components/project-models/train-model-dialog/use-train-model-state.hook.ts
Labels: UI, ready for review

#1097 overwriting a file with list of weights during upgrade
  platform/services/weights_uploader/app/weights_uploader.py
Labels: Platform

#1098 Update OTX commit
  interactive_ai/workflows/train/trainer/uv.lock
Labels: IAI

#1094 [RELEASE] Avoid clearing memory ahead of time
  web_ui/packages/smart-tools/src/ritm/ritm.ts
  web_ui/src/pages/annotator/hooks/use-interactive-segmentation.hook.ts
Labels: UI

#1092 Avoid clearing memory ahead of time
  web_ui/packages/smart-tools/src/ritm/ritm.ts
  web_ui/src/pages/annotator/hooks/use-interactive-segmentation.hook.ts
Labels: UI, ready for review

#1110 overwriting a file with list of weights during upgrade
  platform/services/weights_uploader/app/weights_uploader.py
Labels: Platform

#1129 Annotation hole: Mask rendering order
  web_ui/src/pages/annotator/annotation/layers/background-masks.tsx
  web_ui/src/pages/annotator/annotation/layers/layer.component.tsx
  web_ui/src/pages/annotator/annotation/layers/layer.test.tsx
  web_ui/src/pages/annotator/annotation/layers/utils.ts
  web_ui/src/pages/media/utils.test.ts
Labels: UI, ready for review

#1144 test: Outdated locator in the e2e tests
  web_ui/tests/e2e/daily/fish-detection.spec.ts
Labels: UI, ready for review

#1131 Extract resize anchor component
  web_ui/packages/smart-tools/index.ts
  web_ui/packages/smart-tools/src/edit-bounding-box/resize-anchor.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-bounding-box/edit-bounding-box.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-bounding-box/edit-bounding-box.test.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-circle/edit-circle.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/edit-keypoint-tool.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-keypoint/edit-pose-point.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-polygon/edit-points.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-rotated-bounding-box/edit-rotated-bounding-box.component.tsx
  web_ui/src/pages/annotator/tools/edit-tool/edit-rotated-bounding-box/edit-rotated-bounding-box.test.tsx
  web_ui/src/pages/annotator/tools/keypoint-tool/keypoint-tool.component.tsx
  web_ui/src/pages/create-project/components/pose-template/canvas/points.component.tsx
Labels: UI, ready for review

#1161 Jchrapko/istio charts
  deploy/charts/impt/chart/values.yaml
  deploy/charts/istio/istio-base/chart/files/crd-all.yaml
  deploy/charts/istio/istio-base/chart/templates/crds.yaml
  deploy/charts/istio/istio-gateway/chart/templates/_helpers.tpl
  deploy/charts/istio/istio-gateway/chart/templates/custom_tls_secret.yaml
  deploy/charts/istio/istio-gateway/chart/templates/deployment.yaml
  deploy/charts/istio/istio-gateway/chart/values.yaml
  deploy/charts/istio/istio-istiod/chart/files/profile-demo.yaml
  deploy/charts/istio/istio-istiod/chart/templates/NOTES.txt
  deploy/charts/istio/istio-istiod/chart/templates/deployment.yaml
  deploy/charts/istio/istio-istiod/chart/templates/zzy_descope_legacy.yaml
  deploy/charts/istio/istio-istiod/chart/values.yaml
  platform/services/config/chart/templates/_helpers.tpl
  platform/services/config/chart/templates/config-map-impt-configuration.yaml
  platform/services/config/chart/templates/config-map-impt-feature-flags.yaml
  platform/services/config/chart/templates/config-map-impt-logging-configuration.yaml
  platform/services/config/chart/templates/config-map-impt-s3-bucket-names.yaml
  platform/services/config/chart/templates/config-map-impt-versions.yaml
  platform/services/config/chart/templates/create-db-sh.yaml
  platform/services/config/chart/values.yaml
  platform/services/installer/app/templates/impt-values.yaml.j2
Labels: Platform

#1121 Changed server used to check the internet connection
  platform/services/installer/app/checks/internet.py
Labels: Platform

#1167 fix: Export dialog is interactive
  web_ui/src/pages/project-details/components/project-dataset/dataset-tab-list.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/project-dataset-tab-actions.component.tsx
  web_ui/src/pages/project-details/components/project-dataset/project-dataset-tab-actions.test.tsx
  web_ui/tests/features/project-dataset/export-dataset.spec.ts
Labels: UI, ready for review

#1181 chore: Remove old notification package
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/assets/index.scss
Labels: UI, ready for review

#1183 Add premature config migration script [main]
  interactive_ai/data_migration/migration/changelog/34.json
  interactive_ai/data_migration/migration/metadata/remove_premature_configuration.json
  interactive_ai/data_migration/migration/scripts/remove_premature_configuration.py
  interactive_ai/data_migration/tests/scripts/test_remove_premature_configuration.py
  interactive_ai/libs/iai_core_py/iai_core/versioning/data_version.txt
Labels: Backend

#1191 Remove pot parameters setting for optimize
  interactive_ai/services/director/app/communication/controllers/optimization_controller.py
  interactive_ai/services/director/app/communication/controllers/training_configuration_controller.py
  interactive_ai/services/director/app/service/configuration_service.py
  interactive_ai/services/director/app/storage/repos/partial_training_configuration_repo.py
  interactive_ai/services/director/tests/unit/communication/rest_controllers/test_training_configuration_controller.py
  interactive_ai/services/director/tests/unit/storage/repos/test_partial_training_configuration_repo.py
Labels: Backend

#1192 version 2.12.1
  VERSION
  docs/rest_api/openapi.yaml
  docs/rest_api/openapi_internal.yaml
Labels: documentation, IAI

#1197 Enable multi workspace support in account service
  platform/services/account/chart/values.yaml
  platform/services/opa_bundle/app/policies/acc/policy.rego
  platform/services/opa_bundle/app/policies/acc/policy_test.rego
Labels: Platform

#1186 refactor: Replace `allotment` with `react-resizable-panels`
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/pages/annotator/annotation/pane-list.component.tsx
  web_ui/src/pages/annotator/components/sidebar/sidebar-split-panel.component.tsx
  web_ui/src/pages/annotator/components/sidebar/split-pane/split-pane.component.tsx
  web_ui/src/pages/annotator/components/sidebar/split-pane/split-pane.module.scss
Labels: UI, ready for review

#1205 Extending the create workspace endpoint with the new parameter - id of a user who creates it
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/membership_status.pb.gw.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/organization.pb.gw.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/personal_access_token.pb.gw.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/user.pb.gw.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/user_settings.pb.gw.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/workspace.pb.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/workspace.pb.gw.go
  libs/grpc_interfaces/src/grpc_interfaces/account_service/go/pb/workspace.swagger.json
  libs/grpc_interfaces/src/grpc_interfaces/account_service/workspace.proto
  platform/services/account/app/grpc/organization/organization.go
  platform/services/account/app/grpc/workspace/workspace.go
Labels: Platform

#1180 Timeout for project/dataset import increased to 28800 seconds - 8 hours
  interactive_ai/services/project_ie/app/repos/zip_storage_repo.py
  interactive_ai/services/project_ie/chart/templates/virtual_service.yaml
Labels: Backend
